<template>
  <q-page class="flex flex-center">
    <div class=" row full-width justify-center">
      <q-tabs class="col-8 col-md-12" color="none" align="justify" v-model="selectedOption">
        <!-- Tabs - notice slot="title" -->
        <q-tab
          v-for="item in buttons"
          slot="title"
          :key="item.option"
          :name="item.option"
          @click="optionsControl(item.option)"
          :class="item.classStyle">
          <q-icon
            :name="item.icon"
            style="font-size: 50px"
            class="q-pb-md"
          />
          {{item.label}}
        </q-tab>
      </q-tabs>
    </div>
  </q-page>
</template>
<script>
import { getCaixa, setCaixa } from 'src/plugins/storage_helpers'
import {
  Dialog,
  QTabs,
  QTab
} from 'quasar'
export default {
  components: {
    QTabs,
    QTab
  },
  data () {
    return {
      optionsButtons: [
        {
          label: 'Motoboy',
          icon: 'motorcycle',
          recursoKey: 'MOTOBOY',
          option: 'motoboy'
        },
        {
          label: 'Fornecedor',
          icon: 'local_shipping',
          recursoKey: 'FORNECEDOR',
          option: 'fornecedor'
        },
        {
          label: 'Usuario',
          icon: 'assignment_ind',
          recursoKey: 'USUARIO',
          option: 'usuario'
        },
        {
          label: 'Meio de Pagamento',
          icon: 'attach_money',
          recursoKey: 'MEIO_PAGAMENTO',
          option: 'pagamento-tipo'
        },
        {
          label: 'Caixa',
          icon: 'receipt',
          recursoKey: 'CAIXA',
          option: 'caixa'
        }
      ],
      selectedOption: ''
    }
  },
  methods: {
    optionsControl (action) {
      if (action) {
        this.$router.push({name: `${action}-listagem`})
      }
      this.selectedOption = ''
    },
    async modalCaixa () {
      const items = (await this.$services.caixa.find()).data.data
        .map(res => ({
          value: res.id,
          label: res.nome
        }))
      if (items.length) {
        Dialog
          .create({
            title: 'Caixa',
            message: 'Qual caixa deseja abrir?',
            color: 'primary',
            // optional; we want an "OK" button
            ok: 'Confirmar', // takes i18n value, or String for "OK" button label
            // optional; we want a "Cancel" button
            options: {
              model: items[0].value,
              items
            },
            cancel: 'Cancelar', // takes i18n value, or String for "Cancel" button label
            // optional; prevent user dismissal when not clicking on a Dialog button
            preventClose: true
          })
          .then((id) => {
            this.abrirCaixa(id)
          })
      } else {
        Dialog.create({
          title: 'Informação',
          message: 'Não foi encontrado nenhum Caixa, para ser aberto.'
        })
      }
    },
    async fecharCaixa (id) {
      this.$services.fecharCaixa(id)
    },
    async abrirCaixa (id) {
      this.$services.abrirCaixa(id)
    }
  },
  computed: {
    buttons () {
      return this.optionsButtons.filter(res => {
        return this.$permissao.has(res.recursoKey)
      })
    },
    status () {
      const { status } = this.caixa
      return parseFloat(status)
    },
    caixa: {
      get () {
        return getCaixa()
      },
      set (val) {
        return setCaixa(val)
      }
    }
  }
}
</script>
<style>

</style>
