<template>
  <div class="q-pa-none">
    <input type="file" class="hidden" ref="input" @change="onFileSelected" accept="image/x-png,image/gif,image/jpeg">
    <img :src="imageFormated" class="responsive" @click="openInputFile()">
  </div>
</template>

<script>
import dImage from 'src/assets/icon-no-image.svg'
import {
  Dialog
} from 'quasar'
export default {
  props: {
    value: {
      required: true
    }
  },
  // name: 'ComponentName',
  data () {
    return {
      image: '',
      imageFile: ''
    }
  },
  methods: {
    openInputFile () {
      this.$refs.input.click()
    },
    onFileSelected (event) {
      const fileTypeAlowed = ['image/png', 'image/gif', 'image/jpeg']
      const data = event.target.files[0]
      if (fileTypeAlowed.some(o => o === data.type)) {
        this.$emit('input', data)
        this.imageFile = data
      } else {
        Dialog
          .create({
            title: 'Atenção',
            message: 'Formato de arquivo não suportado, por favor selecione uma imagem.',
            ok: 'Fechar'
          })
      }
    }
  },
  computed: {
    imageFormated () {
      // let image = 'assets/icon-no-image.svg'
      let image = ''
      let isUrl = false
      if (typeof this.value === 'string') {
        isUrl = this.value.includes('http')
        image = isUrl ? this.value : dImage
      }
      return isUrl ? image : (this.imageFile ? URL.createObjectURL(this.imageFile) : image)
    }
  }
}
</script>

<style scoped>
  img {
    border-radius: 2em;
  }
</style>
