<template>
  <q-modal ref="modal" :content-css="{minWidth: '470px', minHeight: '80vh'}">
    <q-modal-layout ref="via-joh">
      <q-toolbar slot="header">
        <q-toolbar-title>
          Pedido do Cliente
        </q-toolbar-title>
        <q-btn round icon="close"  @click="$refs.modal.hide()"  flat />
      </q-toolbar>
      <div class="row justify-center q-mt-md">
        <div class="col-auto">
          <t-print id="print" class="nota" :type="type"/>
        </div>
      </div>
      <q-toolbar slot="footer" class="q-pa-none">
        <q-btn label="Imprimir" icon="print"  class="full-width q-pa-lg" @click="printModal"  flat />
      </q-toolbar>
    </q-modal-layout>
  </q-modal>
</template>

<script>
import tPrint from 'src/components/table-print'
import { mapGetters } from 'vuex'
import {
  QModalLayout,
  QModal,
  QToolbar,
  QToolbarTitle,
  QBtn
} from 'quasar'
export default {
  components: {
    QModalLayout,
    tPrint,
    QModal,
    QToolbar,
    QToolbarTitle,
    QBtn
  },
  // name: 'ComponentName',
  data () {
    return {
      type: 1
    }
  },
  methods: {
    open (type) {
      this.type = type
      return this.$refs.modal.show()
    },
    close () {
      return this.$refs.modal.close()
    },
    printModal () {
      var prtContent = document.getElementById('print')
      var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0')
      WinPrint.document.write(prtContent.innerHTML)
      WinPrint.document.close()
      WinPrint.focus()
      WinPrint.print()
      WinPrint.close()
    }
  },
  computed: {
    ...mapGetters('venda', {
      data: 'PRODUTO_VENDA'
    })
  }
}
</script>

<style>
  .nota {
    zoom: 150%;
  }
</style>
