<template>
  <q-page class="layout-padding column justify-between">
    <q-card flat class="col-auto">
      <q-card-main>
        <div class="row">
          <div class="col">
            <div class="row q-my-sm">
              <div class="col">
                <q-field>
                  <div class="q-mx-md q-mb-sm text-white ">
                    Nome da Bebida
                  </div>
                  <input
                    class="full-width"
                    placeholder="Nome da Bebida"
                    v-model="formulario.nome"/>
                </q-field>
              </div>
            </div>
            <div class="row q-my-sm">
              <div class="col">
                <q-field>
                  <div class="q-mx-md q-mb-sm text-white ">
                    Descrição
                  </div>
                  <input
                    class="full-width"
                    placeholder="Nome da Bebida"
                    v-model="formulario.descricao"/>
                </q-field>
              </div>
            </div>
            <div class="row gutter-md q-my-sm">
              <div class="col">
                <q-field>
                  <div class="q-mx-md q-mb-sm text-white ">
                    Custo da Bebida
                  </div>
                  <money
                    @blur.native="setByValorReal()"
                    class="full-width"
                    placeholder="Custo da Bebida"
                    v-model="formulario.valor_custo"/>
                </q-field>
              </div>
              <div class="col">
                <q-field
                >
                  <div class="q-mx-md q-mb-sm text-white ">
                    Valor Lucro Real
                  </div>
                  <money
                    @blur.native="setByValorReal()"
                    class="full-width block"
                    placeholder="Valor Lucro" type="text"
                    v-model="valorReal"/>
                </q-field>
              </div>
              <div class="col">
                <q-field
                >
                  <div class="q-mx-md q-mb-sm text-white ">
                    Valor Lucro Percentual
                  </div>
                  <money
                    @blur.native="setByPercentual()"
                    class="full-width block"
                    placeholder="Valor Lucro" type="text"
                    v-bind="$percentFormat"
                    v-model="percentual"/>
                </q-field>
              </div>
            </div>
            <div class="row gutter-md  q-my-sm">
              <div class="col-4">
                <q-field>
                  <div class="q-mx-md q-mb-sm text-white ">
                    Valor de Venda
                  </div>
                  <money
                    @blur.native="setByValorVenda()"
                    class="full-width"
                    placeholder="Valor de Venda"
                    v-model="formulario.valor_venda"/>
                </q-field>
              </div>
            </div>
          </div>
          <div class="col-3 ">
            <q-field
              class="q-px-lg q-my-sm full-height"
            >
              <div class="q-mx-md q-mb-sm text-white">
                Imagem
              </div>
              <d-input-file v-model="formulario.url_image"/>
            </q-field>
          </div>
        </div>
      </q-card-main>
    </q-card>
    <div class="col-auto">
      <q-toolbar class="bg-transparent row justify-between">
        <div class="col">
          <q-btn
            rounded
            class="q-px-xl"
            color="negative"
            label="Cancelar"
            @click="voltar()"
            size="xl"/>
        </div>
        <div class="col text-right">
          <q-btn
            rounded
            class="q-px-xl"
            color="positive"
            label="Salvar"
            @click="salvar(formulario)"
            size="xl"/>
        </div>
      </q-toolbar>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
import { mapGetters, mapActions } from 'vuex'
import { DInputFile } from 'components'
import {
  QCard,
  QCardMain,
  QField,
  QInput
} from 'quasar'
export default {
  components: {
    QCard,
    QCardMain,
    QField,
    QInput,
    DInputFile
  },
  data () {
    return {
      percentual: 0,
      valorReal: 0
    }
  },
  methods: {
    ...mapActions('produto', {
      fetchOne: 'FETCH_ONE',
      saveOne: 'SAVE_BEBIDA'
    }),
    async loadItem (id) {
      await this.fetchOne(id)
      this.setByValorVenda()
    },
    setByValorReal () {
      const valorTotal = this.formulario.valor_custo + this.valorReal
      this.formulario.valor_venda = valorTotal
      this.percentual = this.valorReal / (this.formulario.valor_custo / 100)
    },
    setByPercentual () {
      const valorVenda = this.formulario.valor_custo + (this.formulario.valor_custo / 100 * this.percentual)
      this.formulario.valor_venda = valorVenda
      this.valorReal = this.formulario.valor_venda - this.formulario.valor_custo
    },
    setByValorVenda () {
      const custoReal = this.formulario.valor_venda - this.formulario.valor_custo
      this.valorReal = custoReal
      this.setByValorReal()
    },
    voltar () {
      this.$router.push({name: this.$route.meta.pathCrud.listagem})
    },
    salvar (data) {
      data = Object.assign({}, data)
      var formImage = new FormData()
      if (typeof data.url_image !== 'string') {
        formImage.append('image', data.url_image, 'image')
        this.$http.post('produto-imagems', formImage).then(res => {
          data.url_image = res.data.url
          this.saveOne(data).then(() => {
            this.voltar()
          })
        })
      } else {
        this.saveOne(data).then(() => {
          this.voltar()
        })
      }
    }
  },
  computed: {
    ...mapGetters('produto', {
      formulario: 'ONE'
    })
  },
  created () {
    let id = this.$route.params.id
    this.loadItem(id)
  }
}
</script>
