<template>
  <q-page class="layout-padding column">
    <div class="col">
      <div class="row">
        <div class="col">
          <q-field class="full-width">
            <input
              class="full-width"
              placeholder="Pesquisar ..."
              v-model="search"/>
          </q-field>
        </div>
      </div>
    </div>
    <div class="col">
      <d-list-table
        option-row
        title-row="nome"
        v-model="selected"
        :columns="columns"
        :pagination.sync="pagination"
        @request="loadItems"
        :data="data.data.data"
        row-key="id">
        <template slot="action" slot-scope="props" class="text-right" v-if="props.row.status !== 0 && props.row.status !== 3">
          <q-btn color="primary" label="Mudar Status" rounded class="q-px-md" dense @click="mudarStatus(props.row)"/>
        </template>
      </d-list-table>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
// import data from 'src/components/data'
import Moment from 'moment'
Moment.locale('pt-br')
import { mapGetters, mapActions } from 'vuex'
import {
  DListTable,
  DDropdownCrudOptions
} from 'components'

import {
  Dialog,
  QField,
  QItemTile,
  QBtnDropdown
} from 'quasar'

export default {
  name: 'PageIndex',
  components: {
    DListTable,
    QBtnDropdown,
    QItemTile,
    QField,
    DDropdownCrudOptions
  },
  data () {
    return {
      status: ['Cancelado', 'Em espera', 'Com Entregador', 'Finalisado'],
      pagination: {
        page: 1,
        rowsPerPage: 10,
        rowsNumber: 100,
        lastPage: 2
      },
      selected: [],
      search: '',
      columns: [
        {
          name: 'dtVenda',
          label: 'Data de Venda',
          field: 'created_at',
          format: (val) => Moment(val).format('lll')
        },
        {
          name: 'entrega',
          label: 'Entrega',
          field: 'motoboy',
          format: (val) => val ? val.nome : '-'
        },
        {
          name: 'cliente',
          label: 'Cliente',
          field: 'cliente',
          format: (val) => val ? val.nome : '-'
        },
        {
          name: 'pagamentoTipo',
          label: 'Pagamento Tipo',
          field: 'pagamento_tipo',
          format: (val) => parseInt(val) === 1 ? 'Cartão' : 'Dinheiro'
        },
        {
          name: 'user',
          label: 'Usuario',
          field: 'movimento',
          format: (val) => val.sessao.user.username
        },
        {
          name: 'caixa',
          label: 'Caixa',
          field: 'movimento',
          format: (val) => val.sessao.caixa.nome
        },
        {
          name: 'status',
          label: 'Status',
          field: 'status',
          format: (val) => this.status[val]
        },
        {
          name: 'valor_venda',
          label: 'Valor da Venda',
          field: 'movimento',
          format: (val) => `R$ ${parseFloat(val.valor).toFixed(2)}`
        }
      ]
    }
  },
  methods: {
    loadItems (params) {
      this.fetchList(params).then(res => {
        this.pagination.rowsNumber = this.data.data.total
        this.pagination.lastPage = this.data.data.lastPage
      })
    },
    mudarStatus (pedido) {
      const items = [
        {value: 0, label: 'Cancelado'},
        {value: 1, label: 'Em Espera'},
        {value: 2, label: 'Com Entregador'},
        {value: 3, label: 'Finalizado'}
      ].filter(res => pedido.motoboy_id === null ? res.value !== 2 : true)
      Dialog
        .create({
          title: 'Status',
          message: 'Novo Status do pedido',
          color: 'primary',
          // optional; we want an "OK" button
          ok: 'Confirmar', // takes i18n value, or String for "OK" button label
          // optional; we want a "Cancel" button
          options: {
            model: pedido.status,
            items
          },
          cancel: 'Cancelar', // takes i18n value, or String for "Cancel" button label
          // optional; prevent user dismissal when not clicking on a Dialog button
          preventClose: true
        })
        .then((status) => {
          let id = pedido.id
          let requestData = { id, status: status }
          this.$services.mudarStatusPedido(requestData).then(res => {
            this.loadItems(this.params)
          })
        })
    },
    pushTo (id) {
      if (id) {
        this.$router.push({name: this.$route.meta.pathCrud.editar, params: {id: id}})
      } else {
        this.$router.push({name: this.$route.meta.pathCrud.novo})
      }
    },
    ...mapActions('venda', {
      remove: 'REMOVE',
      fetchList: 'FETCH_LIST',
      fetchOne: 'FETCH_ONE'
    })
  },
  watch: {
    params (val) {
      this.loadItems(val)
    }
  },
  computed: {
    params () {
      let pagination = {
        page: this.pagination.page,
        perPage: this.pagination.rowsPerPage
      }
      const status = this.$route.query.status || null
      const hasMotoboy = this.$route.query.hasMotoboy || null

      return {
        ...pagination,
        status,
        hasMotoboy,
        search: this.search
      }
    },
    itemSelected () {
      return this.selected[0] ? this.data.data.data.find(res => res.id === this.selected[0].id) : undefined
    },
    ...mapGetters('venda', {
      data: 'LIST'
    })
  },
  created () {
    this.loadItems(this.params)
  }
}
</script>
