<template>
  <div>
    <q-toolbar color="secondary">
      <q-toolbar-title class="text-primary">
        <q-btn label="Joh" color="tertiary" class="q-mx-sm" rounded/>
        <q-btn label="Ja deu por Hoje" flat  @click="$auth.logout()"/>
      </q-toolbar-title>
    </q-toolbar>
    <div class="row items-center">
      <q-list highlight class="col no-border">
        <q-item class="q-pa-lg">
          <q-item-side>
            <q-item-tile icon="phonelink" color="white"/>
          </q-item-side>
          <q-item-main label="balcão" />
        </q-item>
        <q-item class="q-pa-lg">
          <q-item-side>
            <q-item-tile icon="view_carousel" color="white"/>
          </q-item-side>
          <q-item-main label="Mesa" />
        </q-item>
        <q-item class="q-pa-lg">
          <q-item-side>
            <q-item-tile icon="motorcycle" color="white"/>
          </q-item-side>
          <q-item-main label="Entregas"/>
        </q-item>
        <q-item class="q-pa-lg">
          <q-item-side>
            <q-item-tile icon="assignment_turned_in" color="white"/>
          </q-item-side>
          <q-item-main label="Finalizados" />
        </q-item>
      </q-list>
    </div>
    <q-toolbar color="secondary">
      <q-toolbar-title class="text-primary">
        <q-btn label="Joh" color="tertiary" class="q-mx-sm" rounded/>
        <q-btn label="Ja deu por Hoje" flat  @click="$auth.logout()"/>
      </q-toolbar-title>
    </q-toolbar>
  </div>
</template>
<script></script>
<style></style>
