<template>
  <q-page class="layout-padding column justify-between">
    <q-card flat class="col-auto">
      <q-card-main>
        <div class="row gutter-md q-my-sm">
          <div class="col">
            <q-field>
              <div class="q-mx-md q-mb-sm text-white ">
                Nome
              </div>
              <input
                class="full-width"
                placeholder="Nome"
                v-model="formulario.nome"/>
            </q-field>
          </div>
          <div class="col-2">
            <q-field>
              <div class="q-mx-md q-mb-sm text-white ">
                Percentual de Juros
              </div>
              <money
                @blur.native="setByPercentual()"
                class="full-width block"
                placeholder="Valor Lucro" type="text"
                v-bind="$percentFormat"
                v-model="formulario.percentual_juros"/>
            </q-field>
          </div>
        </div>
        <div class="row gutter-md q-my-sm">
          <div class="col text-white">
            <q-field>
              <q-radio color="white" v-model="formulario.tipo" :val="0" label="Dinheiro" class="q-pr-xl"/>
              <q-radio color="white" v-model="formulario.tipo" :val="1" label="Cartão" />
            </q-field>
          </div>
        </div>
      </q-card-main>
    </q-card>
    <div class="col-auto">
      <q-toolbar class="bg-transparent row justify-between">
        <div class="col">
          <q-btn
            rounded
            class="q-px-xl"
            color="negative"
            label="Cancelar"
            @click="voltar()"
            size="xl"/>
        </div>
        <div class="col text-right">
          <q-btn
            rounded
            class="q-px-xl"
            color="positive"
            label="Salvar"
            @click="salvar(formulario)"
            size="xl"/>
        </div>
      </q-toolbar>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
import { mapGetters, mapActions } from 'vuex'
import { DInputFile } from 'components'
import {
  QCard,
  QRadio,
  QCardMain,
  QField,
  QInput
} from 'quasar'
export default {
  components: {
    QCard,
    QRadio,
    QCardMain,
    QField,
    QInput,
    DInputFile
  },
  data () {
    return {}
  },
  methods: {
    ...mapActions('pagamento-tipo', {
      fetchOne: 'FETCH_ONE',
      saveOne: 'SAVE'
    }),
    async loadItem (id) {
      await this.fetchOne(id)
    },
    voltar () {
      this.$router.push({name: this.$route.meta.pathCrud.listagem})
    },
    salvar (data) {
      this.saveOne(data).then(() => {
        this.voltar()
      })
    }
  },
  computed: {
    ...mapGetters('pagamento-tipo', {
      formulario: 'ONE'
    })
  },
  created () {
    let id = this.$route.params.id
    this.loadItem(id)
  }
}
</script>
