<template>
  <div>
    <q-btn
      v-if="novoApenas"
      label="Novo"
      rounded
      @click="$emit('criar')"
      class="q-py-sm "
      color="positive">
      <q-icon name="add" class="q-ml-sm"/>
    </q-btn>
    <q-btn-dropdown
      v-close-overlay
      v-else
      label="Opções"
      rounded
      class="q-py-sm"
      color="info"
    >
      <!-- dropdown content -->
      <q-list link>
        <q-item v-close-overlay @click.native="$emit('criar')">
          <q-item-side>
            <q-icon name="add" class="text-positive"></q-icon>
          </q-item-side>
          <q-item-main class="q-pr-md text-positive">
            <q-item-tile label><b>Novo</b></q-item-tile>
          </q-item-main>
        </q-item>
        <q-item v-close-overlay @click.native="$emit('editar')">
          <q-item-side>
            <q-icon name="remove" class="text-info"></q-icon>
          </q-item-side>
          <q-item-main class="q-pr-md text-info">
            <q-item-tile label><b>Editar</b></q-item-tile>
          </q-item-main>
        </q-item>
        <q-item v-close-overlay @click.native="$emit('excluir')" class="text-negative">
          <q-item-side>
            <q-icon name="remove" class="text-negative"></q-icon>
          </q-item-side>
          <q-item-main class="q-pr-md text-negative">
            <q-item-tile label><b>Excluir</b></q-item-tile>
          </q-item-main>
        </q-item>
      </q-list>
    </q-btn-dropdown>
  </div>
</template>

<script>
import {
  QBtnDropdown,
  QItem,
  QItemTile
} from 'quasar'
export default {
  props: {
    novoApenas: {
      type: Boolean,
      default: false
    }
  },
  // name: 'ComponentName',
  components: {
    QBtnDropdown,
    QItem,
    QItemTile
  },
  data () {
    return {}
  }
}
</script>

<style>
</style>
