<template>
  <div>
    <q-btn-dropdown
      rounded
      v-close-overlay
      icon="print"
      label="Imprimir"
      class="q-py-sm"
      content-class="bg-primary j-border"
      color="primary"
    >
      <!-- dropdown content -->
      <q-list link dark>
        <q-item v-close-overlay @click.native="openModal(joh)">
          <q-item-main class="q-pr-md text-white">
            <q-item-tile label><b>Via Joh</b></q-item-tile>
          </q-item-main>
        </q-item>

        <q-item v-close-overlay @click.native="openModal(cliente)">
          <q-item-main class="q-pr-md text-white">
            <q-item-tile label><b>Via Cliente</b></q-item-tile>
          </q-item-main>
        </q-item>

        <q-item v-close-overlay @click.native="openModal(todas)">
          <q-item-main class="q-pr-md text-white">
            <q-item-tile label><b>Todas</b></q-item-tile>
          </q-item-main>
        </q-item>
      </q-list>
    </q-btn-dropdown>
    <via-joh-modal ref="vJoh"/>
  </div>
</template>

<script>
import viaJohModal from 'src/components/print/via-joh'
import viaClienteModal from 'src/components/print/via-cliente'
import {
  QBtnDropdown,
  QItem,
  QItemTile
} from 'quasar'
export default {
  // name: 'ComponentName',
  components: {
    viaJohModal,
    viaClienteModal,
    QBtnDropdown,
    QItem,
    QItemTile
  },
  data () {
    return {
      joh: 1,
      cliente: 2,
      todas: 3
    }
  },
  methods: {
    openModal (type) {
      this.$refs.vJoh.open(type)
    }
  }
}
</script>

<style>
</style>
