<template>
  <q-page class="layout-padding column">
    <div class="col">
      <div class="row">
        <div class="col">
          <q-field class="full-width">
            <input
              class="full-width"
              placeholder="Pesquisar ..."
              v-model="search"/>
          </q-field>
        </div>
      </div>
    </div>
    <div class="col">
      <d-list-table
        title-row="nome"
        v-model="selected"
        :columns="columns"
        :pagination.sync="pagination"
        @request="loadItems"
        :data="data.data.data"
        row-key="id">
      </d-list-table>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
// import data from 'src/components/data'
import { mapGetters, mapActions } from 'vuex'
import {
  DListTable,
  DDropdownCrudOptions
} from 'components'

import {
  QField,
  QItemTile,
  QBtnDropdown
} from 'quasar'

export default {
  name: 'PageIndex',
  components: {
    DListTable,
    QBtnDropdown,
    QItemTile,
    QField,
    DDropdownCrudOptions
  },
  data () {
    return {
      pagination: {
        page: 1,
        rowsPerPage: 10,
        rowsNumber: 100,
        lastPage: 2
      },
      selected: [],
      search: '',
      columns: [
        { name: 'id', label: '#', field: 'id' },
        { name: 'nome', label: 'Nome', field: 'nome' },
        { name: 'endereco', label: 'Endereco', field: 'endereco' },
        { name: 'complemento', label: 'Complemento', field: 'complemento' },
        { name: 'referencia', label: 'Referencia', field: 'referencia' },
        {
          name: 'telefone',
          label: 'Telefone',
          field: 'telefone',
          format: val => {
            val = val || ''
            // eslint-disable-next-line
            return  val.replace(/(\d{2})(\d{5})(\d{4})/,"(\$1) \$2-\$3") // eslint-disable-line
          }
        },
        {
          name: 'whatsapp',
          label: 'Whatsapp',
          field: 'whatsapp',
          format: val => {
            val = val || ''
            // eslint-disable-next-line no-use-before-define
            return  val.replace(/(\d{2})(\d{5})(\d{4})/,"(\$1) \$2-\$3") // eslint-disable-line
          }
        }
      ]
    }
  },
  methods: {
    loadItems (params) {
      this.fetchList(params).then(res => {
        this.pagination.rowsNumber = this.data.data.total
        this.pagination.lastPage = this.data.data.lastPage
      })
    },
    ...mapActions('venda', {
      fetchList: 'FETCH_LIST'
    })
  },
  watch: {
    params (val) {
      this.loadItems(val)
    }
  },
  computed: {
    params () {
      let pagination = {
        page: this.pagination.page,
        perPage: this.pagination.rowsPerPage
      }
      return {
        ...pagination,
        search: this.search
      }
    },
    itemSelected () {
      return this.selected[0] ? this.data.data.data.find(res => res.id === this.selected[0].id) : undefined
    },
    ...mapGetters('cliente', {
      data: 'LIST'
    })
  },
  created () {
    this.loadItems(this.params)
  }
}
</script>
