<template>
  <q-page class="flex">
    <div class="row full-width">
      <div class="col column bg-white">
        <div class="col-auto">
          <div class="layout-padding q-pb-sm">
            <div class="row text-center q-py-sm">
              <div class="col" v-if="formulario.motoboy_id">
                <q-chip color="primary" icon="motorcycle" class="q-px-lg">
                  Entregador: {{motoboySelecionado.nome}}
                </q-chip>
              </div>
              <div class="col" v-if="cliente.id">
                <input v-model="cliente.telefone" v-mask="'(##) #####-####'" class="hidden">
                <q-chip color="primary" icon="face" class="q-px-lg">
                  Cliente: {{cliente.nome}} / {{cliente.telefone}}
                </q-chip>
              </div>
            </div>
          </div>
        </div>
        <div class="col scroll">
          <nota-pedido class="layout-padding" :disable="!!formulario.id"/>
        </div>
        <div class="col-auto">
          <div class="layout-padding q-py-none">
            <div class="row q-px-lg q-py-sm subtotal q-display-1">
              <div class="col-auto q-pt-sm">
                Acrescimo <span v-show="formulario.id" class="text-bold">R$ {{valorAcrescimo.toFixed(2)}}</span>
              </div>
              <money
                v-show="!formulario.id"
                class="col"
                :disable="!!formulario.id"
                v-model="valorAcrescimo"/>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="layout-padding q-pt-sm">
            <div class="row">
              <div class="col q-px-lg q-py-md subtotal q-display-1">
                Subtotal: <span class="q-pl-md text-bold">R$ {{total.toFixed(2)}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="layout-padding">
            <div class="row">
              <div class="col">
                <q-btn
                  v-show="!formulario.id"
                  rounded
                  class="q-px-xl"
                  color="negative"
                  :label="formulario.id ? 'balcão' : 'Pedido' "
                  @click="voltar()"
                  size="lg"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col column bg-white">

        <div class="col-auto">
          <div class="layout-padding q-py-md">
            <div class="row">
              <div class="col text-center q-px-lg q-py-md subtotal q-display-1">
                <d-meio-pagamento v-model="formulario.pagamento_tipo"/>
              </div>
            </div>
          </div>
        </div>
        <div class="col" v-show="meioPagamento.id">
          <div class="layout-padding q-py-md">
            <div class="row">
              <div class="col column text-center">
                <div class="col-auto" > <q-icon class="q-display-4" :name="meioPagamento.tipo === 0 ? 'attach_money' : 'credit_card'"/> </div>
                <div class="col q-display-1"> {{meioPagamento.nome}} </div>
                <div class="col q-display-1 q-py-sm"> <b>{{meioPagamento.percentual_juros}} % </b> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="layout-padding">
            <div class="row justify-center">
              <div class="col-auto">
                <q-btn
                  label="Escolher Entregador"
                  rounded
                  icon="motorcycle"
                  class="q-px-xl"
                  color="primary"
                  size="lg"
                  :disable="formulario.id"
                  @click="openModalMotoboy()"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto" v-show="!formulario.id">
          <div class="layout-padding">
            <div class="row text-center">
              <div class="col">
                <q-btn
                  rounded
                  class="q-px-xl"
                  color="primary"
                  label="Realizar Venda"
                  @click="save(formulario)"
                  size="lg"/>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto" v-show="formulario.id">
          <div class="layout-padding">
            <div class="row justify-between">
              <div class="col text-center">
                <d-print-buttons/>
              </div>
              <div class="col text-center">
                <q-btn color="primary" rounded label="Voltar ao Balcão" @click="voltar()"></q-btn>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import notaPedido from './nota-pedido'
import { DMeioPagamento, DPrintButtons } from 'components'
import { mapGetters, mapMutations, mapActions } from 'vuex'
import {
  Dialog,
  QItem,
  QChip,
  QItemTile
} from 'quasar'
export default {
  components: {
    Dialog,
    QItemTile,
    QItem,
    QChip,
    notaPedido,
    DMeioPagamento,
    DPrintButtons
  },
  data () {
    return {
      valorAcrescimo: 0,
      motoboys: [],
      formulario: {
        id: null,
        pagamento_tipo: 1,
        motoboy_id: null
      }
    }
  },
  methods: {
    ...mapMutations('venda', {
      setTipoPagamento: 'SET_TIPO_PAGAMENTO',
      setVenda: 'SET_VENDA'
    }),
    ...mapActions('venda', {
      saveVenda: 'SAVE_VENDA'
    }),
    ...mapActions('pagamento-tipo', {
      fetchOne: 'FETCH_ONE'
    }),
    async loadMotoboys () {
      this.motoboys = (await this.$services.motoboy.find()).data.data
    },
    save (item) {
      this.formulario.clienteSelecionado = Object.assign({}, this.cliente)
      let data = Object.assign({
        valor_acrescimo: this.valorAcrescimo || 0,
        cliente_id: this.cliente.id || null
      }, item)
      this.setVenda(data)
      this.saveVenda().then(res => {
        const id = res.data.data.id
        this.formulario.id = id
        this.setVenda(Object.assign(this.venda, { id }))
      })
    },
    voltar () {
      const name = this.formulario.id ? 'atendimento-balcao' : 'pedido-menu'
      this.$router.push({name})
    },
    async openModalMotoboy () {
      if (this.motoboysItems.length) {
        Dialog.create({
          title: 'Escolha Entregador',
          message: 'Quem Fara a Entrega ?',
          options: {
            type: 'radio',
            model: this.motoboysItems[0].value,
            items: this.motoboysItems
          },
          cancel: true,
          preventClose: true,
          color: 'secondary'
        }).then(motoboy_id => { // eslint-disable-line
          this.formulario.motoboySelecionado = this.motoboys.find(res => motoboy_id === res.id) || {} // eslint-disable-line
          this.formulario.motoboy_id = motoboy_id // eslint-disable-line
        })
      } else {
        Dialog.create({
          title: 'Informação',
          message: 'Não foi encontrado nenhum Motoboy Cadastrado.'
        })
      }
    }
  },
  watch: {
    'formulario.pagamento_tipo' (val) {
      this.fetchOne(val)
      this.setTipoPagamento(val)
    }
  },
  mounted () {
    this.loadMotoboys()
  },
  created () {
    this.fetchOne(this.formulario.pagamento_tipo)
  },
  computed: {
    motoboysItems () {
      return this.motoboys.map(res => ({
        value: res.id,
        label: res.nome
      }))
    },
    total () {
      let total = this.valorAcrescimo + this.data.reduce((total, produto) => {
        let adicional = produto.adicionais.reduce((adicionaisTotal, adicional) => adicionaisTotal + adicional.valor_venda, 0)
        return total + produto.valor_venda + adicional
      }, 0)
      total = total * ((this.meioPagamento.percentual_juros / 100) + 1)
      return total
    },
    motoboySelecionado () {
      return this.motoboys.find(res => this.formulario.motoboy_id === res.id) || {}
    },
    ...mapGetters('venda', {
      data: 'PRODUTO_VENDA',
      venda: 'VENDA'
    }),
    ...mapGetters('cliente', {
      cliente: 'ONE'
    }),
    ...mapGetters('pagamento-tipo', {
      meioPagamento: 'ONE'
    })
  }
}
</script>
<style scoped lang="stylus">
  @import "~variables";
  .scroll-area {
    overflow-y: scroll;
  }
  .pagamento-tipo-btn:hover {
    color: $positive;
  }
  .subtotal {
    border: 2px solid #dfdfdf;
    border-radius: 10px;
  }
  .subtotal input {
    font-size: 30px;
    font-weight: bold;
  }
</style>
