<template>
  <q-page class="flex">
    <div class="row full-width">
      <div class="col column">
        <div class="">
          <router-view />
        </div>
      </div>
      <div class="col column bg-white">
        <div class="col scroll">
          <nota-pedido class="layout-padding"/>
        </div>
        <div class="col-auto">
          <div class="layout-padding">
            <div class="row">
              <div class="col-auto q-px-lg q-py-md subtotal q-display-1">
                R$ Subtotal: <span class="q-pl-md text-bold">{{total.toFixed(2)}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="layout-padding">
              <div class="row">
                <div class="col">
                  <q-btn
                    rounded
                    class="q-px-xl"
                    color="negative"
                    label="Cancelar Pedido"
                    size="lg"
                    @click="$router.push({name: `atendimento-balcao`})"/>
                </div>
                <div class="col text-right">
                  <q-btn
                    rounded
                    class="q-px-xl"
                    color="primary"
                    label="Resumo do Pedido"
                    size="lg"
                  @click="$router.push({name: `finalizar-pedido`})"/>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import notaPedido from './nota-pedido'
import { mapGetters } from 'vuex'
import {
  QTabs,
  QTab
} from 'quasar'
export default {
  components: {
    QTabs,
    QTab,
    notaPedido
  },
  data () {
    return {}
  },
  methods: {},
  computed: {
    total () {
      console.log(this.data)
      return this.data.reduce((total, produto) => {
        let adicional = produto.adicionais.reduce((adicionaisTotal, adicional) => adicionaisTotal + adicional.valor_venda, 0)
        return total + produto.valor_venda + adicional
      }, 0)
    },
    ...mapGetters('venda', {
      data: 'PRODUTO_VENDA'
    })
  }
}
</script>
<style>
  .scroll-area {
    overflow-y: scroll;
  }
  .subtotal {
    border: 2px solid #dfdfdf;
    border-radius: 10px;
  }
</style>
