<template>
  <q-page class="flex flex-center text-white ">
    <q-list highlight class="no-border">
      <q-item class="q-pa-lg " @click.native="goTo('lanche')">
        <q-item-side>
          <q-item-tile icon="fas fa-drumstick-bite" color="white" style="font-size: 40px"/>
        </q-item-side>
        <q-item-main label="Escolha seu Lanche" style="font-size: 30px"/>
      </q-item>
      <q-item class="q-pa-lg" @click.native="goTo('adicional')">
        <q-item-side>
          <q-item-tile icon="monetization_on" color="white" style="font-size: 40px"/>
        </q-item-side>
        <q-item-main label="Escolha seu Adicional" style="font-size: 30px"/>
      </q-item>
      <q-item class="q-pa-lg" @click.native="goTo('bebida')">
        <q-item-side>
          <q-item-tile icon="fas fa-beer" color="white" style="font-size: 40px"/>
        </q-item-side>
        <q-item-main label="Escolha sua Bebida" style="font-size: 30px"/>
      </q-item>
      <q-item class="q-pa-lg" @click.native="goTo('doce')">
        <q-item-side>
          <q-item-tile icon="fas fa-cookie-bite" color="white" style="font-size: 40px"/>
        </q-item-side>
        <q-item-main label="Escolha seu Doce" style="font-size: 30px"/>
      </q-item>
    </q-list>
  </q-page>
</template>

<style>
</style>

<script>
import { mapMutations } from 'vuex'
import {
  QItemTile,
  QChip,
  QDatetime,
  QTabs,
  QTab
} from 'quasar'
export default {
  name: 'PageIndex',
  components: {
    QItemTile,
    QChip,
    QDatetime,
    QTabs,
    QTab
  },
  data () {
    return {}
  },
  methods: {
    ...mapMutations('produto', {
      setProdutoList: 'SET_LIST'
    }),
    async produtoFetch (tipo) {
      const data = (await this.$services.produto.find({params: {produto_tipo_id: tipo}}))
      this.setProdutoList(data)
    },
    goTo (selected) {
      const options = {
        lanche: async () => {
          await this.produtoFetch(1)
          this.$router.push({name: 'pedido-tabela', query: {lanche: 1, produto_tipo_id: 1}})
        },
        adicional: async () => {
          const data = (await this.$services.adicional.find())
          this.setProdutoList(data)
          this.$router.push({name: 'pedido-tabela', query: {adicional: 1}})
        },
        bebida: async () => {
          await this.produtoFetch(2)
          this.$router.push({name: 'pedido-tabela', query: {produto_tipo_id: 2}})
        },
        doce: async () => {
          await this.produtoFetch(3)
          this.$router.push({name: 'pedido-tabela', query: {produto_tipo_id: 3}})
        }
      }
      const action = options[selected]
      return action()
    }
  }
}
</script>
