<template>
  <div class="column">
    <div class="col">
      <table class="full-width">
        <thead class="text-left">
        <tr class="t-border">
          <th>Pedido</th>
          <th>Quantidade</th>
          <th>R$</th>
          <th class="text-right">Remover</th>
        </tr>
        </thead>
        <tbody v-for="item in data" :key="item.key">
        <tr class="border_bottom text-bold text-italic">
          <td>{{item.nome}}</td>
          <td>{{item.quantidade}}</td>
          <td>{{item.valor_venda}}</td>
          <td class="text-right">
            <q-btn
              icon="close"
              round
              dense
              color="secondary"
              :disable="disable"
              @click="removerProduto(item.key)"
            />
          </td>
        </tr>
        <tr class="adicional" v-for="adicional in item.adicionais" :key="adicional.key">
          <td class="q-pl-md">{{adicional.nome}}</td>
          <td>{{adicional.quantidade}}</td>
          <td>{{adicional.valor_venda}}</td>
          <td class="text-right">
            <q-btn
              icon="close"
              round
              dense
              color="secondary"
              :disable="disable"
              @click="removerAdicional(adicional.key)"
            />
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapMutations } from 'vuex'
export default {
  props: {
    disable: {
      type: Boolean,
      default: false
    }
  },
  components: {},
  data () {
    return {}
  },
  methods: {
    ...mapMutations('venda', {
      removerProduto: 'REMOVE_PRODUTO',
      removerAdicional: 'REMOVE_ADICIONAL'
    })
  },
  computed: {
    ...mapGetters('venda', {
      data: 'PRODUTO_VENDA'
    })
  }
}
</script>
<style>
  table {
    border-spacing: 0px;
  }
  th {
    padding-bottom: 20px
  }
  td {
    padding: 5px;
    border-bottom: 1px solid #ddd
  }
</style>
