<template>
  <q-page class="q-pa-md column">
    <div class="col-auto">
      <q-btn color="tertiary" rounded size="md" icon="chevron_left" @click="$router.back()">Voltar</q-btn>
    </div>
    <div class="col-auto q-my-md">
      <q-field class="full-width">
        <input
          class="full-width"
          placeholder="Pesquisar ..."
          v-model="search"/>
      </q-field>
    </div>
    <div class="col">
      <d-card-table
        has-title
        small
        title-row="nome"
        v-model="selected"
        :columns="columns"
        :data="data.data.data"
        row-key="id">
      </d-card-table>
    </div>
    <div class="col-auto" v-show="itemSelected">
      <div class="row gutter-md">
        <div class="col">
          <q-btn color="positive" size="lg" label="Incluir ao Pedido" class="full-width" @click="incluirItem(itemSelected)"/>
        </div>
        <div class="col" v-show="isLanche">
          <q-btn color="info" size="lg" label="Incluir Adicionais" class="full-width" @click="inclirAdicional()"/>
        </div>
      </div>
    </div>
    <adicional-modal ref="modal" @save="pushAdicional"/>
  </q-page>
</template>

<style>
</style>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import adicionalModal from 'src/components/modal/adicionais'
import {
  DCardTable,
  DDropdownCrudOptions
} from 'components'

import {
  Dialog,
  QChip,
  QField,
  QItemTile,
  QBtnDropdown
} from 'quasar'

export default {
  name: 'PageIndex',
  components: {
    adicionalModal,
    QChip,
    DCardTable,
    QBtnDropdown,
    QItemTile,
    QField,
    DDropdownCrudOptions
  },
  data () {
    return {
      selected: [],
      adicionais: [],
      search: '',
      columns: [
        { name: 'url_image', label: '', field: row => `<div style="overflow: hidden"><img src="${row.url_image}"/></div>`, align: 'left', style: 'width: 5%' },
        { name: 'nome', label: '', field: 'nome', align: 'left', style: 'max-width: 100px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;' },
        { name: 'valor_venda', label: '', field: row => `<span>R$ ${parseFloat(row.valor_venda).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'})}</span>` }
      ]
    }
  },
  methods: {
    ...mapMutations('venda', {
      incluirProduto: 'ADD_PRODUTO',
      incluirAdicional: 'ADD_ADICIONAL'
    }),
    ...mapMutations('produto', {
      setProdutoList: 'SET_LIST'
    }),
    ...mapActions('produto', {
      loadLanche: 'FETCH_LIST_LANCHE',
      loadBebida: 'FETCH_LIST_BEBIDA',
      loadDoce: 'FETCH_LIST_DOCE'
    }),
    inclirAdicional () {
      this.$refs.modal.open()
    },
    async loadItems () {
      const params = {
        search: this.search
      }
      if (this.$route.query.adicional === 1) {
        console.log('asdasd')
        const data = (await this.$services.adicional.find({params: {search: this.search}}))
        this.setProdutoList(data)
      } else {
        const options = [this.loadLanche, this.loadBebida, this.loadDoce]
        options[this.$route.query.produto_tipo_id - 1](params)
      }
    },
    pushAdicional (adicionais) {
      const lanche = Object.assign({}, this.itemSelected)
      let lancheAdicional = Object.assign(lanche, { adicionais })
      this.incluirItem(lancheAdicional)
    },
    incluirItem (data) {
      if (this.$route.query.adicional) {
        Dialog.create({
          title: 'Adicionar ingrediente',
          message: 'Em qual lanche quer adicionar esse ingrediente ?',
          options: {
            type: 'radio',
            model: this.dialogItens[0],
            items: this.dialogItens
          },
          cancel: true,
          preventClose: true,
          color: 'secondary'
        }).then(produto_key => { // eslint-disable-line
          this.$router.back()
          this.incluirAdicional({produto_key, data}) // eslint-disable-line
        })
      } else {
        this.$router.back()
        this.incluirProduto(data)
      }
    }
  },
  watch: {
    search (val) {
      this.loadItems({ search: val })
    }
  },
  computed: {
    isLanche () {
      return this.$route.query ? this.$route.query.lanche === 1 : false
    },
    dialogItens () {
      console.log(this.produtosNota)
      return this.produtosNota
        .filter(res => res.produto_tipo_id === 1)
        .map(res => {
          return {
            value: res.key,
            label: res.nome
          }
        })
    },
    itemSelected () {
      return this.selected[0] ? this.data.data.data.find(res => res.id === this.selected[0].id) : undefined
    },
    ...mapGetters('produto', {
      data: 'LIST'
    }),
    ...mapGetters('venda', {
      produtosNota: 'PRODUTO_VENDA'
    })
  }
}
</script>
