<template>
  <div class="full-width row q-mt-lg">
    <div class="col col-sm-12">
      <q-field>
        <div class="q-mx-md q-mb-sm text-white ">
          Custo
        </div>
        <q-select
          filter
          autofocus-filter
          display-value
          inverted-light
          color="white"
          class="border-r full-width"
          v-model="select"
          hide-underline
          :options="options"
        />
      </q-field>
    </div>
    <div class="col-auto col-sm-6 q-pr-sm">
      <q-field>
        <div class="q-mx-md q-mb-sm text-white ">
          Valor Custo
        </div>
        <money
          readonly
          class="full-width"
          placeholder="Whatsapp"
          mask="(##) #####-####"
          v-model="custo"/>
      </q-field>
    </div>
    <div class="col-auto col-sm-6 q-pl-sm">
      <q-field>
        <div class="q-mx-md q-mb-sm text-white">
          Valor Venda
        </div>
        <money
          readonly
          class="full-width"
          placeholder="Whatsapp"
          mask="(##) #####-####"
          v-model="venda"/>
      </q-field>
    </div>
  </div>
</template>
<script>
import {
  QSelect,
  QField
} from 'quasar'
export default {
  components: {
    QSelect,
    QField
  },
  props: {
    value: {
      required: true,
      type: [String, Number],
      default: ''
    },
    valorVenda: {
      type: [String, Number],
      default: ''
    },
    valorCusto: {
      type: [String, Number],
      default: ''
    }
  },
  data () {
    return {
      data: []
    }
  },
  methods: {
    loadItems () {
      this.$services.adicional
        .find()
        .then(res => {
          this.data = res.data.data
        })
    }
  },
  created () {
    this.loadItems()
  },
  computed: {
    options () {
      return this.data.map(res => ({
        value: res.id,
        label: res.nome
      }))
    },
    custo: {
      get () {
        return this.valorCusto
      },
      set (val) {
        this.$emit('update:valorCusto', val)
      }
    },
    venda: {
      get () {
        return this.valorVenda
      },
      set (val) {
        this.$emit('update:valorVenda', val)
      }},
    select: {
      get () {
        return this.value
      },
      set (val) {
        const adicional = this.data.find(res => res.id === val) || {}
        this.$emit('input', val)
        this.$emit('update:valorCusto', adicional.valor_custo)
        this.$emit('update:valorVenda', adicional.valor_venda)
      }
    }
  }
}
</script>
<style>

</style>
