<template>
  <q-page class="flex flex-center row">
    <img alt="Joh Logo" src="~assets/logo.png" class="col-auto">
  </q-page>
</template>

<style>
</style>

<script>
// import { DPrintButtons } from 'components'
import DPrintButtons from 'src/components/table-print'
export default {
  components: {
    DPrintButtons
  },
  name: 'PageIndex',
  data () {
    return {
      adicional: '',
      custo: 0,
      venda: 10
    }
  },
  created () {
    this.$http.get('produtos').then(res => {
      console.log(res)
    })
  }
}
</script>
