<template>
  <div>
    <q-modal ref="modal" :content-css="{minWidth: '60vw', minHeight: '80vh'}">
      <q-modal-layout class="bg-default">
        <q-toolbar slot="header">
          <q-toolbar-title>
            Adicionais
          </q-toolbar-title>

          <q-btn
            flat
            round
            dense
            v-close-overlay
            icon="close"
          />
        </q-toolbar>
        <listagem ref="listagem"/>
        <q-toolbar slot="footer">
          <q-toolbar-title>
            <div class="row">
              <div class="col">
                <q-btn color="primary" class="full-width" label="Incluir Adicional" size="lg" @click="salve()"/>
              </div>
            </div>
          </q-toolbar-title>
        </q-toolbar>
      </q-modal-layout>
    </q-modal>
  </div>
</template>

<script>
import listagem from './listagem-adicionais'
import {
  QModal,
  QModalLayout,
  QToolbar,
  QToolbarTitle
} from 'quasar'
export default {
  // name: 'ComponentName',
  components: {
    QModal,
    QModalLayout,
    QToolbar,
    QToolbarTitle,
    listagem
  },
  data () {
    return {
      selected: []
    }
  },
  methods: {
    salve () {
      let key = parseInt(new Date().getTime())
      const dataAdd = this.$refs.listagem.selected.map((res, i) => {
        res.key = key / 100 + i
        return res
      })
      this.$emit('save', dataAdd)
    },
    open () {
      this.$refs.modal.show()
    }
  }
}
</script>

<style>
</style>
