<template>
  <q-page class="layout-padding column">
    <div class="col">
      <div class="row">
        <div class="col-auto q-pa-sm">
          <d-dropdown-crud-options
            :novo-apenas="!itemSelected"
            @criar="pushTo()"
            @editar="pushTo(itemSelected.id)"
            @excluir="removeItem(itemSelected)"
          />
        </div>
        <div class="col">
          <q-field class="full-width">
            <input
              class="full-width"
              placeholder="Pesquisar ..."
              v-model="search"/>
          </q-field>
        </div>
      </div>
    </div>
    <div class="col">
      <d-list-table
        title-row="nome"
        option-row
        v-model="selected"
        :columns="columns"
        :pagination.sync="pagination"
        @request="loadItems"
        :data="data.data.data"
        row-key="id">
        <template slot="action" slot-scope="props">
          <div class="row text-right">
            <div class="col">
              <q-btn color="red" label="Fazer Pedido" rounded class="q-px-md" dense @click="fazerPedido(props.row)"/>
            </div>
          </div>
        </template>
      </d-list-table>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
// import data from 'src/components/data'
import { mapGetters, mapActions } from 'vuex'
import {
  DListTable,
  DDropdownCrudOptions
} from 'components'

import {
  Dialog,
  QField,
  QItemTile,
  QBtnDropdown
} from 'quasar'

export default {
  name: 'PageIndex',
  components: {
    DListTable,
    QBtnDropdown,
    QItemTile,
    QField,
    DDropdownCrudOptions
  },
  data () {
    return {
      pagination: {
        page: 1,
        rowsPerPage: 10,
        rowsNumber: 100,
        lastPage: 2
      },
      selected: [],
      search: '',
      columns: [
        { name: 'nome', label: 'Nome', field: 'nome', align: 'left' },
        // { name: 'endereco', label: 'Endereco', field: 'endereco' },
        // { name: 'complemento', label: 'Complemento', field: 'complemento' },
        // { name: 'referencia', label: 'Referencia', field: 'referencia' },
        {
          name: 'telefone',
          label: 'Telefone',
          field: 'telefone',
          align: 'left',
          format: val => {
            val = val || ''
            // eslint-disable-next-line
            return  val.replace(/(\d{2})(\d{5})(\d{4})/,"(\$1) \$2-\$3") // eslint-disable-line
          }
        },
        {
          name: 'whatsapp',
          label: 'Whatsapp',
          field: 'whatsapp',
          align: 'left',
          format: val => {
            val = val || ''
            // eslint-disable-next-line no-use-before-define
            return  val.replace(/(\d{2})(\d{5})(\d{4})/,"(\$1) \$2-\$3") // eslint-disable-line
          }
        }
      ]
    }
  },
  methods: {
    loadItems (params) {
      this.fetchList(params).then(res => {
        this.pagination.rowsNumber = this.data.data.total
        this.pagination.lastPage = this.data.data.lastPage
      })
    },
    fazerPedido (cliente) {
      this.fetchOne(cliente.id).then(res => {
        this.$router.push({name: 'pedido-menu'})
      })
    },
    pushTo (id) {
      if (id) {
        this.$router.push({name: this.$route.meta.pathCrud.editar, params: {id: id}})
      } else {
        this.$router.push({name: this.$route.meta.pathCrud.novo})
      }
    },
    ...mapActions('cliente', {
      remove: 'REMOVE',
      fetchList: 'FETCH_LIST',
      fetchOne: 'FETCH_ONE'
    }),
    request ({pagination}) {
      console.log(pagination)
    },
    removeItem (data) {
      Dialog
        .create({
          title: 'Atenção',
          message: 'Deseja Realmente deletar esse Recurso.',
          color: 'negative',
          // optional; we want an "OK" button
          ok: 'Excluir', // takes i18n value, or String for "OK" button label
          // optional; we want a "Cancel" button
          cancel: 'Cancelar', // takes i18n value, or String for "Cancel" button label
          // optional; prevent user dismissal when not clicking on a Dialog button
          preventClose: true
        })
        .then(() => {
          this.remove(data.id).then(() => {
            this.loadItems({ search: this.search })
          })
        })
        .catch(() => {
          this.selected = []
        })
      //
    }
  },
  watch: {
    params (val) {
      this.loadItems(val)
    }
  },
  computed: {
    params () {
      let pagination = {
        page: this.pagination.page,
        perPage: this.pagination.rowsPerPage
      }
      return {
        ...pagination,
        search: this.search
      }
    },
    itemSelected () {
      return this.selected[0] ? this.data.data.data.find(res => res.id === this.selected[0].id) : undefined
    },
    ...mapGetters('cliente', {
      data: 'LIST'
    })
  },
  created () {
    this.loadItems(this.params)
  }
}
</script>
