<template>
  <q-page class="layout-padding column justify-between">
    <q-card flat class="col-auto">
      <q-card-main>
        <div class="row gutter-md">
          <div class="col">
            <div class="row">
              <div class="col">
                <q-field>
                  <div class="q-mx-md q-mb-sm text-white ">
                    Nome do Lanche
                  </div>
                  <input
                    class="full-width"
                    placeholder="Nome do Lanche"
                    v-model="formulario.nome"/>
                </q-field>
              </div>
            </div>
            <div class="row gutter-md">
              <div class="col">
                <q-field>
                  <div class="q-mx-md q-mb-sm text-white ">
                    Custo de Produção
                  </div>
                  <money
                    class="full-width"
                    placeholder="Custo do Lanche"
                    v-model="valorCustoTotal"/>
                </q-field>
              </div>
              <div class="col">
                <q-field>
                  <div class="q-mx-md q-mb-sm text-white ">
                    Preço Sugerido
                  </div>
                  <money
                    @blur.native="setByValorReal()"
                    readonly
                    class="full-width"
                    placeholder="Custo do Lanche"
                    v-model="valorVendaTotal"/>
                </q-field>
              </div>
            </div>
            <div class="row q-mt-xl q-mb-md">
              <div class="col">
                <q-field>
                  <div class="q-mx-md q-mb-sm text-white ">
                    Ingredientes
                  </div>
                </q-field>
              </div>
            </div>
            <div
              v-for="(item, i) in formulario.itens_produto"
              :key="i"
              class="row"
            >
              <div class="col-auto">
                <q-btn
                  dense
                  @click="removeItem(i)"
                  color="negative"
                  icon="remove"
                  class="q-mt-lg"
                  round/>
              </div>
              <d-adicional-select
                class="col"
                v-model="formulario.itens_produto[i].id"
                :valor-custo.sync="formulario.itens_produto[i].valor_custo"
                :valor-venda.sync="formulario.itens_produto[i].valor_venda"
              />
            </div>
            <div class="row q-mt-md">
              <div class="col">
                <q-btn
                  color="positive"
                  label="Adicionar"
                  icon="add"
                  rounded
                  @click="adicionarItem()"
                />
              </div>
            </div>
          </div>
          <div class="col-3 row">
            <div class="column">
              <div class="col">
                <q-field
                  class="q-px-lg full-height"
                >
                  <div class="q-mx-md q-mb-sm text-white">
                    Imagem
                  </div>
                  <d-input-file v-model="formulario.url_image"/>
                </q-field>
              </div>
              <div class="row gutter-md">
                <div class="col">
                  <q-field>
                    <div class="q-mx-md q-mb-sm text-white ">
                      Custo do Lanche
                    </div>
                    <money
                      @blur.native="setByValorReal()"
                      class="full-width"
                      placeholder="Custo do Lanche"
                      v-model="formulario.valor_custo"/>
                  </q-field>
                </div>
              </div>
              <div class="row gutter-md">
                <div class="col">
                  <q-field>
                    <div class="q-mx-md q-mb-sm text-white ">
                      Valor Lucro Real
                    </div>
                    <money
                      @blur.native="setByValorReal()"
                      class="full-width block"
                      placeholder="Valor Lucro" type="text"
                      v-model="valorReal"/>
                  </q-field>
                </div>
              </div>
              <div class="row gutter-md">
                <div class="col">
                  <q-field
                  >
                    <div class="q-mx-md q-mb-sm text-white ">
                      Valor Lucro Percentual
                    </div>
                    <money
                      @blur.native="setByPercentual()"
                      class="full-width block"
                      placeholder="Valor Lucro" type="text"
                      v-bind="$percentFormat"
                      v-model="percentual"/>
                  </q-field>
                </div>
              </div>
              <div class="row gutter-md">
                <div class="col">
                  <q-field>
                    <div class="q-mx-md q-mb-sm text-white ">
                      Valor de Venda
                    </div>
                    <money
                      @blur.native="setByValorVenda()"
                      class="full-width"
                      placeholder="Valor de Venda"
                      v-model="formulario.valor_venda"/>
                  </q-field>
                </div>
              </div>
            </div>

          </div>
        </div>
      </q-card-main>
    </q-card>
    <div class="col-auto">
      <q-toolbar class="bg-transparent row justify-between">
        <div class="col">
          <q-btn
            rounded
            class="q-px-xl"
            color="negative"
            label="Cancelar"
            @click="voltar()"
            size="xl"/>
        </div>
        <div class="col text-right">
          <q-btn
            rounded
            class="q-px-xl"
            color="positive"
            label="Salvar"
            @click="salvar(formulario)"
            size="xl"/>
        </div>
      </q-toolbar>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
import { mapGetters, mapActions } from 'vuex'
import { DInputFile, DAdicionalSelect } from 'components'
import {
  QCard,
  QCardMain,
  QField,
  QInput
} from 'quasar'
export default {
  components: {
    QCard,
    QCardMain,
    QField,
    QInput,
    DInputFile,
    DAdicionalSelect
  },
  data () {
    return {
      ingredientes: [{id: ''}],
      percentual: 0,
      valorReal: 0
    }
  },
  methods: {
    ...mapActions('produto', {
      fetchOne: 'FETCH_ONE',
      saveOne: 'SAVE_LANCHE'
    }),
    async loadItem (id) {
      await this.fetchOne(id)
      this.setByValorVenda()
    },
    setByValorReal () {
      const valorTotal = this.formulario.valor_custo + this.valorReal
      this.formulario.valor_venda = valorTotal
      this.percentual = this.valorReal / (this.formulario.valor_custo / 100)
    },
    setByPercentual () {
      const valorVenda = this.formulario.valor_custo + (this.formulario.valor_custo / 100 * this.percentual)
      this.formulario.valor_venda = valorVenda
      this.valorReal = this.formulario.valor_venda - this.formulario.valor_custo
    },
    setByValorVenda () {
      const custoReal = this.formulario.valor_venda - this.formulario.valor_custo
      this.valorReal = custoReal
      this.setByValorReal()
    },
    voltar () {
      this.$router.push({name: this.$route.meta.pathCrud.listagem})
    },
    salvar (data) {
      data = Object.assign({}, data)
      var formImage = new FormData()
      if (typeof data.url_image !== 'string') {
        formImage.append('image', data.url_image, 'image')
        this.$http.post('produto-imagems', formImage).then(res => {
          data.url_image = res.data.url
          this.saveOne(data).then(() => {
            this.voltar()
          })
        })
      } else {
        this.saveOne(data).then(() => {
          this.voltar()
        })
      }
    },
    removeItem (index) {
      this.formulario.itens_produto = this.formulario.itens_produto.filter((res, i) => i !== index)
    },
    adicionarItem () {
      this.formulario.itens_produto.push({})
    }
  },
  computed: {
    ...mapGetters('produto', {
      formulario: 'ONE'
    }),
    valorCustoTotal: {
      get () {
        let ret = this.formulario.itens_produto || []
        return ret.reduce((acumuladora, res) => (acumuladora + res.valor_custo), 0)
      },
      set () {}
    },
    valorVendaTotal: {
      get () {
        let ret = this.formulario.itens_produto || []
        return ret.reduce((acumuladora, res) => (acumuladora + res.valor_venda), 0)
      },
      set () {}
    }
  },
  created () {
    let id = this.$route.params.id
    this.loadItem(id)
  }
}
</script>
