<template>
  <q-page class="layout-padding column">
    <div class="col">
      <div class="row">
        <div class="col-auto q-pa-sm">
          <d-dropdown-crud-options
            :novo-apenas="!itemSelected"
            @criar="pushTo()"
            @editar="pushTo(itemSelected.id)"
            @excluir="removeItem(itemSelected)"
          />
        </div>
        <div class="col">
          <q-field class="full-width">
            <input
              class="full-width"
              placeholder="Pesquisar ..."
              v-model="search"/>
          </q-field>
        </div>
      </div>
    </div>
    <div class="col">
      <d-card-table
        has-title
        title-row="nome"
        v-model="selected"
        :columns="columns"
        :data="data.data.data"
        row-key="id">
      </d-card-table>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
// import data from 'src/components/data'
import { mapGetters, mapActions } from 'vuex'
import {
  DCardTable,
  DDropdownCrudOptions
} from 'components'

import {
  Dialog,
  QField,
  QItemTile,
  QBtnDropdown
} from 'quasar'

export default {
  name: 'PageIndex',
  components: {
    DCardTable,
    QBtnDropdown,
    QItemTile,
    QField,
    DDropdownCrudOptions
  },
  data () {
    return {
      selected: [],
      search: '',
      columns: [
        { name: 'url_image', label: '', field: row => `<div style="overflow: hidden"><img src="${row.url_image}"/></div>`, align: 'left', style: 'width: 5%' },
        { name: 'nome', label: '', field: 'nome', align: 'left' },
        { name: 'valor_venda', label: '', field: row => `<span>R$ ${parseFloat(row.valor_venda).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'})}</span>`, align: 'left' }
      ]
    }
  },
  methods: {
    loadItems (params = {}) {
      this.fetchList(params)
    },
    pushTo (id) {
      if (id) {
        this.$router.push({name: this.$route.meta.pathCrud.editar, params: {id: id}})
      } else {
        this.$router.push({name: this.$route.meta.pathCrud.novo})
      }
    },
    ...mapActions('produto', {
      remove: 'REMOVE',
      fetchList: 'FETCH_LIST_LANCHE'
    }),
    removeItem (data) {
      Dialog
        .create({
          title: 'Atenção',
          message: 'Deseja Realmente deletar esse Recurso.',
          color: 'negative',
          // optional; we want an "OK" button
          ok: 'Excluir', // takes i18n value, or String for "OK" button label
          // optional; we want a "Cancel" button
          cancel: 'Cancelar', // takes i18n value, or String for "Cancel" button label
          // optional; prevent user dismissal when not clicking on a Dialog button
          preventClose: true
        })
        .then(() => {
          this.remove(data.id).then(() => {
            this.loadItems({ search: this.search })
          })
        })
        .catch(() => {
          this.selected = []
        })
      //
    }
  },
  watch: {
    search (val) {
      this.loadItems({ search: val })
    }
  },
  computed: {
    itemSelected () {
      return this.selected[0] ? this.data.data.data.find(res => res.id === this.selected[0].id) : undefined
    },
    ...mapGetters('produto', {
      data: 'LIST'
    })
  },
  created () {
    this.loadItems(this.params)
  }
}
</script>
