<template>
  <q-page class="layout-padding column justify-between">
    <q-card flat class="col-auto bg-white">
      <q-card-title class="text-center">
        <b> Informação da sessão </b>
      </q-card-title>
      <q-card-main>
        <div class="row gutter-md q-mb-xl q-py-lg">
          <div class="col text-center text-positive q-headline">
            <b>Abertura :</b> {{date.abertura}}
          </div>
          <div class="col text-center text-negative q-headline">
            <b>Fechamento :</b> {{formulario.status === 1 ? 'Caixa aberto' : date.fechamento}}
          </div>
        </div>
        <div class="row gutter-md">
          <div class="col">
            <q-field>
              <q-input
                readonly
                class="full-width"
                float-label="Nome"
                placeholder="Nome"
                v-model="formulario.user.username"/>
            </q-field>
          </div>
          <div class="col">
            <q-field>
              <q-input
                readonly
                class="full-width"
                float-label="Email"
                placeholder="Nome"
                v-model="formulario.user.email"/>
            </q-field>
          </div>
        </div>
        <div class="row gutter-md">
          <div class="col">
            <q-field>
              <q-input
                readonly
                class="full-width"
                float-label="Caixa"
                v-model="formulario.caixa.nome"/>
            </q-field>
          </div>
          <div class="col">
            <q-field>
              <q-input
                readonly
                class="full-width"
                float-label="Quantidade de Vendas"
                v-model="formulario.qtd_vendas"/>
            </q-field>
          </div>
          <div class="col">
            <q-field>
              <q-input
                readonly
                class="full-width"
                float-label="Quantidade de Entregas"
                v-model="formulario.qtd_entregas"/>
            </q-field>
          </div>
        </div>
      </q-card-main>
      <q-card-actions class="row justify-center text-center">
        <div class="col-5">
          <q-list highlight>
            <q-list-header>Movimentações por tipo</q-list-header>
            <q-item v-for="(item, i) in formulario.tipo_pagamento_valor" :key="i">
              <q-item-side :class="item.tipo === 0 ? 'text-positive' : 'text-info'" :icon="item.tipo === 0 ? 'attach_money' : 'credit_card' "/>
              <q-item-main>
                <q-item-tile label>{{item.nome}}</q-item-tile>
                <q-item-tile sublabel>
                  {{item.percentual_juros}} %
                </q-item-tile>
              </q-item-main>
              <q-item-side class="text-green">
                <b>
                  R$ {{(item.valor).toFixed(2)}}
                </b>
              </q-item-side>
            </q-item>
            <q-item-separator />
            <q-item>
              <q-item-side icon="motorcycle"/>
              <q-item-main>
                <q-item-tile label>Entregas</q-item-tile>
                <q-item-tile sublabel>
                  Entregas Feitas {{formulario.qtd_entregas}}
                </q-item-tile>
              </q-item-main>
              <q-item-side class="text-green">
                <b>
                  R$ {{formulario.valor_entrada_entregas}}
                </b>
              </q-item-side>
            </q-item>
            <q-item>
              <q-item-side icon="check" class="text-positive"/>
              <q-item-main>
                <q-item-tile label>Vendas Realizadas</q-item-tile>
                <q-item-tile sublabel>
                  Quantidade {{formulario.qtd_vendas - formulario.qtd_canceladas}}
                </q-item-tile>
              </q-item-main>
              <q-item-side class="text-green">
                <b>
                  R$ {{valorTotal}}
                </b>
              </q-item-side>
            </q-item>
            <q-item>
              <q-item-side icon="close" class="text-red"/>
              <q-item-main>
                <q-item-tile label>Vendas Canceladas</q-item-tile>
                <q-item-tile sublabel>
                  Quantidade {{formulario.qtd_canceladas}}
                </q-item-tile>
              </q-item-main>
              <q-item-side class="text-green">
                <b>
                  R$ {{valorCancelado}}
                </b>
              </q-item-side>
            </q-item>
          </q-list>
        </div>
      </q-card-actions>
      <!--<q-card-actions class="row justify-center text-center">-->
        <!--<div class="col">-->
          <!--<q-btn flat dense size="xl" icon="attach_money">{{(formulario.valor_entrada_dinheiro).toLocaleString(...optionsLocaleString)}}</q-btn>-->
        <!--</div>-->
        <!--<div class="col">-->
          <!--<q-btn flat dense size="xl" icon="credit_card">{{(formulario.valor_entrada_cartao).toLocaleString(...optionsLocaleString)}}</q-btn>-->
        <!--</div>-->
        <!--<div class="col">-->
          <!--<q-btn flat dense size="xl" icon="motorcycle">{{(formulario.valor_entrada_entregas).toLocaleString(...optionsLocaleString)}}</q-btn>-->
        <!--</div>-->
      <!--</q-card-actions>-->
    </q-card>
    <div class="col-auto">
      <q-toolbar class="bg-transparent row justify-center">
        <div class="col text-center"  v-if="formulario.status === 1">
          <q-btn
            rounded
            class="q-px-xl"
            color="positive"
            label="Fechar Caixa"
            @click="fecharCaixa(formulario.caixa.id)"
            size="xl"/>
        </div>
        <div class="col text-center" v-else>
          <q-btn
            rounded
            class="q-px-xl text-black"
            color="white"
            label="Imprimir Resumo"
            icon="print"
            @click="printModal(formulario.caixa.id)"
            size="xl"/>
        </div>
      </q-toolbar>
    </div>
    <!--<balanco-print id="print"/>-->
    <balanco-print id="print" style="display: none"/>
  </q-page>
</template>

<style>
</style>

<script>
import balancoPrint from 'src/components/balanco-print'
import Moment from 'moment'
Moment.locale('pt-br')
import { mapGetters, mapActions } from 'vuex'
import { DInputFile } from 'components'
import {
  QItemTile,
  QItemSeparator,
  QCard,
  QCardTitle,
  QCardActions,
  QCardMain,
  QField,
  QInput
} from 'quasar'
export default {
  components: {
    QItemTile,
    balancoPrint,
    QItemSeparator,
    QCard,
    QCardActions,
    QCardTitle,
    QCardMain,
    QField,
    QInput,
    DInputFile
  },
  data () {
    return {
      optionsLocaleString: ['pt-BR', {minimumFractionDigits: 2, style: 'currency', currency: 'BRL'}]
    }
  },
  methods: {
    ...mapActions('balanco', {
      fetchOne: 'FETCH_ONE',
      saveOne: 'SAVE'
    }),
    printModal () {
      var prtContent = document.getElementById('print')
      var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0')
      WinPrint.document.write(prtContent.innerHTML)
      WinPrint.document.close()
      WinPrint.focus()
      WinPrint.print()
      WinPrint.close()
    },
    async loadItem (id) {
      await this.fetchOne(id)
    },
    voltar () {
      this.$router.push({name: this.$route.meta.pathCrud.listagem})
    },
    fecharCaixa (id) {
      this.$services.fecharCaixa(id).then(res => {
        let id = this.$route.params.id
        this.loadItem(id)
      })
    }
  },
  computed: {
    valorTotal () {
      return (this.formulario.tipo_pagamento_valor.reduce((total, tipo) => total + tipo.valor, 0)).toFixed(2)
    },
    valorCancelado () {
      return (this.formulario.movimento.reduce((total, movimento) => total + movimento.valor, 0) - this.valorTotal).toFixed(2)
    },
    date () {
      return {
        abertura: Moment(this.formulario.created_at).format('LLL'),
        fechamento: Moment(this.formulario.updated_at).format('LLL')
      }
    },
    ...mapGetters('balanco', {
      formulario: 'ONE'
    })
  },
  created () {
    let id = this.$route.params.id
    this.loadItem(id)
  }
}
</script>
