<template>
  <q-page class="layout-padding column">
    <div class="col">
      <div class="row">
        <div class="col">
          <q-field class="full-width">
            <input
              class="full-width"
              placeholder="Pesquisar ..."
              v-model="search"/>
          </q-field>
        </div>
      </div>
    </div>
    <div class="col">
      <d-list-table
        title-row="nome"
        option-row
        v-model="selected"
        :columns="columns"
        :pagination.sync="pagination"
        @request="loadItems"
        :data="data.data.data"
        row-key="id">
        <template slot="action" slot-scope="props">
          <q-btn color="primary" label="Detalhes" rounded class="q-px-md" dense @click="pushTo(itemSelected.id)"/>
        </template>
      </d-list-table>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
// import data from 'src/components/data'
import Moment from 'moment'
Moment.locale('pt-br')
import { mapGetters, mapActions } from 'vuex'
import {
  DListTable,
  DDropdownCrudOptions
} from 'components'

import {
  Dialog,
  QField,
  QItemTile,
  QBtnDropdown
} from 'quasar'

export default {
  name: 'PageIndex',
  components: {
    DListTable,
    QBtnDropdown,
    QItemTile,
    QField,
    DDropdownCrudOptions
  },
  data () {
    return {
      pagination: {
        page: 1,
        rowsPerPage: 10,
        rowsNumber: 100,
        lastPage: 2
      },
      selected: [],
      search: '',
      columns: [
        { name: 'id', label: '#', field: 'id' },
        { name: 'abertura', label: 'Abertura', field: 'created_at', format: val => Moment(val).format('LLL') },
        {
          name: 'fechamento',
          label: 'Fechamento',
          field: (row) => row.status === 1 ? 'Ainda aberto' : Moment(row.updated_at).format('LLL')
        },
        { name: 'status', label: 'Status do Caixa', field: 'status', format: val => val === 0 ? 'Fechado' : 'Aberto' },
        { name: 'caixa', label: 'Caixa', field: 'caixa', format: val => `${val.nome} ${val.descricao ? '-' + val.descricao : ''}` },
        { name: 'user', label: 'Usuario', field: 'user', format: val => val.username },
        { name: 'movimento_total', label: 'Movimentações', field: 'movimento_total', format: val => `R$ ${parseFloat(val || 0).toFixed(2)}` }
      ]
    }
  },
  methods: {
    loadItems (params) {
      this.fetchList(params).then(res => {
        this.pagination.rowsNumber = this.data.data.total
        this.pagination.lastPage = this.data.data.lastPage
      })
    },
    pushTo (id) {
      if (id) {
        this.$router.push({name: this.$route.meta.pathCrud.editar, params: {id: id}})
      }
    },
    ...mapActions('balanco', {
      fetchList: 'FETCH_LIST'
    }),
    removeItem (data) {
      Dialog
        .create({
          title: 'Atenção',
          message: 'Deseja Realmente deletar esse Recurso.',
          color: 'negative',
          // optional; we want an "OK" button
          ok: 'Excluir', // takes i18n value, or String for "OK" button label
          // optional; we want a "Cancel" button
          cancel: 'Cancelar', // takes i18n value, or String for "Cancel" button label
          // optional; prevent user dismissal when not clicking on a Dialog button
          preventClose: true
        })
        .then(() => {
          this.remove(data.id).then(() => {
            this.loadItems({ search: this.search })
          })
        })
        .catch(() => {
          this.selected = []
        })
      //
    }
  },
  watch: {
    params (val) {
      this.loadItems(val)
    }
  },
  computed: {
    params () {
      let pagination = {
        page: this.pagination.page,
        perPage: this.pagination.rowsPerPage
      }
      return {
        ...pagination,
        search: this.search
      }
    },
    itemSelected () {
      return this.selected[0] ? this.data.data.data.find(res => res.id === this.selected[0].id) : undefined
    },
    ...mapGetters('balanco', {
      data: 'LIST'
    })
  },
  created () {
    this.loadItems(this.params)
  }
}
</script>
