<template>
  <q-page class="flex flex-center">
    <div class=" row full-width justify-center">
      <q-tabs class="col-8 col-md-12" color="none" align="justify" v-model="selectedOption">
        <!-- Tabs - notice slot="title" -->
        <q-tab
          v-for="item in buttons"
          slot="title"
          :key="item.option"
          :name="item.option"
          @click="optionsControl(item.option)"
          :class="item.classStyle">
          <q-icon
            :name="item.icon"
            style="font-size: 50px"
            class="q-pb-md"
          />
          {{item.label}}
        </q-tab>
      </q-tabs>
    </div>
  </q-page>
</template>
<script>
import { mapMutations } from 'vuex'
import {
  Dialog,
  QTabs,
  QTab
} from 'quasar'
export default {
  components: {
    QTabs,
    QTab
  },
  data () {
    return {
      caixa: {},
      optionsButtons: [
        {
          label: 'Novo Pedido',
          icon: 'assignment_ind',
          option: 'novo_pedido'
        },
        {
          label: 'Pedidos em Espera',
          icon: 'alarm',
          recursoKey: 'PEDIDO_ESPERA',
          option: 'pedidos_espera'
        },
        {
          label: 'Pedidos Finalizados',
          icon: 'assignment_turned_in',
          recursoKey: 'PEDIDO_FINALIZADO',
          option: 'pedidos_finalizados'
        },
        {
          label: 'Informações de Caixas',
          icon: 'computer',
          recursoKey: 'CAIXA_INFO',
          option: 'balanco'
        },
        {
          label: 'Fechar Caixa',
          icon: 'receipt',
          recursoKey: 'CAIXA_FLUXO',
          option: 'fechar_caixa',
          classStyle: 'text-red'
        },
        {
          label: 'Abrir Caixa',
          icon: 'receipt',
          option: 'abrir_caixa',
          recursoKey: 'CAIXA_FLUXO',
          classStyle: 'text-positive'
        }
      ],
      selectedOption: ''
    }
  },
  methods: {
    ...mapMutations('venda', {
      limparVenda: 'CLEAR'
    }),
    optionsControl (action) {
      if (action) {
        const optionsActions = {
          balanco: () => this.$router.push({name: 'balanco-listagem'}),
          novo_pedido: () => {
            this.limparVenda()
            this.$router.push({name: 'pedido-menu'})
          },
          pedidos_espera: () => this.$router.push({name: 'venda-espera-listagem', query: {status: 1}}),
          pedidos_finalizados: () => this.$router.push({name: 'venda-finalizado-listagem', query: {status: 3}}),
          fechar_caixa: () => {
            const caixa = this.caixa
            this.fecharCaixa(caixa.id)
          },
          abrir_caixa: () => this.modalCaixa()
        }
        const option = optionsActions[action]
        option()
      }
      this.selectedOption = ''
    },
    async modalCaixa () {
      const items = (await this.$services.caixa.find()).data.data
        .map(res => ({
          value: res.id,
          label: res.nome
        }))
      if (items.length) {
        Dialog
          .create({
            title: 'Caixa',
            message: 'Qual caixa deseja abrir?',
            color: 'primary',
            // optional; we want an "OK" button
            ok: 'Confirmar', // takes i18n value, or String for "OK" button label
            // optional; we want a "Cancel" button
            options: {
              model: items[0].value,
              items
            },
            cancel: 'Cancelar', // takes i18n value, or String for "Cancel" button label
            // optional; prevent user dismissal when not clicking on a Dialog button
            preventClose: true
          })
          .then((id) => {
            this.abrirCaixa(id)
          })
      } else {
        Dialog.create({
          title: 'Informação',
          message: 'Não foi encontrado nenhum Caixa, para ser aberto.'
        })
      }
    },
    async fecharCaixa (id) {
      this.$router.push({name: 'balanco-editar', params: {id: id}})
    },
    async abrirCaixa (id) {
      this.$services.abrirCaixa(id)
    }
  },
  beforeMount () {
    this.$services.getStatusCaixa().then(res => {
      this.caixa = res.data
    })
  },
  computed: {
    buttons () {
      return this.optionsButtons.filter(res => {
        const caixaTipo = this.status ? res.option !== 'abrir_caixa' : res.option !== 'fechar_caixa'
        const permissao = this.$permissao.has(res.recursoKey)
        return caixaTipo && permissao
      })
    },
    status () {
      const { status } = this.caixa
      return parseFloat(status)
    }
  }
}
</script>
<style>

</style>
