<template>
  <div>
    <table style="overflow-wrap: break-word; padding-bottom: 50px; font-family: Arial, Helvetica, sans-serif ;width: 290px; background: white; font-size: 11px; page-break-after: always;" cellspacing="10">
      <thead style="text-align: left">
        <tr style="font-size: 18px; text-align: center">
          <th colspan="2">Balanço de Caixa: </th>
        </tr>
        <tr>
          <th>Operador:</th>
          <th style="text-align: right">{{formulario.user.username}} </th>
        </tr>
        <tr>
          <th>Caixa:</th>
          <th style="text-align: right">{{formulario.caixa.nome}} </th>
        </tr>
        <tr>
          <th>Quantidade de Vendas:</th>
          <th style="text-align: right">{{formulario.qtd_vendas}} </th>
        </tr>
        <tr>
          <th>Quantidade de Entregas:</th>
          <th style="text-align: right">{{formulario.qtd_entregas}} </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2" style="border-bottom: 1px solid; text-align: center; padding-top: 30px"><b>Movimentações por tipo</b></td>
        </tr>
      </tbody>
      <tbody v-for="item in formulario.tipo_pagamento_valor" :key="item.id">
        <tr>
          <td style="border-bottom: 1px dotted"><b>{{item.nome}} - {{item.percentual_juros}}%</b></td>
          <td style="border-bottom: 1px dotted; text-align: right">{{parseFloat(item.valor).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'})}}</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td colspan="2" style="border-bottom: 1px solid; text-align: center; padding-top: 30px"><b>Vendas</b></td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td style="border-bottom: 1px dotted"><b> Entregas Feitas {{formulario.qtd_entregas}} </b></td>
          <td style="border-bottom: 1px dotted; text-align: right">{{parseFloat(formulario.valor_entrada_entregas).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'})}}</td>
        </tr>
        <tr>
          <td style="border-bottom: 1px dotted"><b> Vendas Realizadas {{formulario.qtd_vendas - formulario.qtd_canceladas}} </b></td>
          <td style="border-bottom: 1px dotted; text-align: right">{{parseFloat(valorTotal).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'})}}</td>
        </tr>
        <tr>
          <td style="border-bottom: 1px dotted"><b> Vendas Canceladas {{formulario.qtd_canceladas}} </b></td>
          <td style="border-bottom: 1px dotted; text-align: right">{{parseFloat(valorCancelado).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'})}}</td>
        </tr>
      </tbody>
      <tfoot style="font-size: 15px">
        <tr>
          <td colspan="2" style="padding-top: 40px; text-align: center"><b>{{dataPrint}}</b></td>
        </tr>
        <tr>
          <td colspan="2" style="font-size: 11px; padding-top: 20px; padding-bottom: 20px; text-align: center">
            Sistema Elaborado e desenvolvido por Leo Nascimento & Bruno Andrade Dias  - solicite seu orçamento - <br> Contato (24) 999096768 - (24) 2442-0645
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
moment.locale('pt-br')
export default {
  props: {
    type: {
      type: Number,
      default: 1
    }
  },
  // name: 'ComponentName',
  data () {
    return {
    }
  },
  computed: {
    valorTotal () {
      return (this.formulario.tipo_pagamento_valor.reduce((total, tipo) => total + tipo.valor, 0)).toFixed(2)
    },
    valorCancelado () {
      return (this.formulario.movimento.reduce((total, movimento) => total + movimento.valor, 0) - this.valorTotal).toFixed(2)
    },
    dataPrint () {
      return moment().format('LLL')
    },
    ...mapGetters('balanco', {
      formulario: 'ONE'
    })
  }
}
</script>

<style>
  @media print
  {
    .no-print, .no-print *
    {
      display: none !important;
    }
  }
</style>
