<template>
  <div class="grid-list-table">
    <div class="row justify-center" v-show="!data.length">
      <div class="col-auto default-border-r">
        <q-card class="bg-white">
          <q-card-main class="text-tertiary q-title q-mx-xl">
            <q-icon name="info" class="q-mr-md"/> Nenhum Registro Encontrado !
          </q-card-main>
        </q-card>
      </div>
    </div>
    <q-scroll-area
      v-show="data.length"
      style="width: 100%; height: 55vh;">
      <q-table
        class="bg-white d-table"
        hide-header
        hide-bottom
        :data="data"
        :columns="columns"
        :filter="filter"
        :selection="selection"
        :pagination.sync="paginationControl"
        :selected.sync="selected"
        :visible-columns="visibleColumns"
        :row-key="rowKey"
      >

        <q-tr slot="body"
              slot-scope="props"
              :props="props"
              @click.native="props.selected = !props.selected"
              class="cursor-pointer"
              :class="props.selected ? 'bg-positive text-white' : ''"
        >
          <q-td v-for="col in props.cols" :key="col.name" :props="props" v-html="col.value" :style="col.style" :class="col.class"/>
        </q-tr>
      </q-table>
    </q-scroll-area>
  </div>
</template>

<script>
import {
  QTable,
  QTd,
  QTr,
  QCard,
  QCardMain,
  QCardSeparator,
  QCheckbox,
  QCardTitle,
  QItemTile,
  QScrollArea
} from 'quasar'
export default {
  props: {
    selection: {
      type: String,
      default: 'single'
    },
    columns: {
      type: Array,
      default: () => []
    },
    small: {
      type: Boolean,
      default: false
    },
    hasTitle: {
      type: Boolean,
      default: false
    },
    titleRow: {
      type: String,
      default: ''
    },
    rowKey: {
      required: true,
      type: String
    },
    data: {
      type: Array,
      default: () => []
    },
    visibleColumns: {
      type: Array
    },
    value: {
      type: Array,
      default: () => []
    }
  },
  components: {
    QTable,
    QTd,
    QTr,
    QCard,
    QCardMain,
    QCardSeparator,
    QCheckbox,
    QCardTitle,
    QItemTile,
    QScrollArea
  },
  computed: {
    classController () {
      return (this.small ? 'col-sm-1 col-md-4 ' : 'col-sm-6 col-md-2 ') + 'col-xs-12 q-pa-xs transition-generic default-border-r'
    },
    selected: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  data () {
    return {
      filter: '',
      paginationControl: { rowsPerPage: Infinity }
    }
  }
}
</script>

<style>
  .grid-list-table .q-table tbody td {
    padding: 5px;
    max-height: 150px;
    font-size: 20px;
  }
  .grid-list-table img {
    width: 50px;
  }
</style>
