<template>
  <div>
    <div class="row justify-center" v-show="!data.length">
      <div class="col-auto default-border-r">
        <q-card class="bg-white">
          <q-card-main class="text-tertiary text-center q-title q-mx-xl">
            <q-icon name="info" class="q-mr-md"/> Nenhum Registro Encontrado !
          </q-card-main>
        </q-card>
      </div>
    </div>
      <q-table
        v-show="data.length"
        class="bg-white"
        :hide-bottom="hideBottom"
        :data="data"
        :columns="columns"
        :filter="filter"
        :selection="selection"
        :pagination.sync="paginationControl"
        :selected.sync="selected"
        :visible-columns="visibleColumns"
        :row-key="rowKey"
      >
        <q-tr slot="header" slot-scope="props">
          <q-th v-for="col in props.cols" :key="col.name" :props="props">
            {{ col.label }}
          </q-th>
          <q-th v-if="optionRow"></q-th>
        </q-tr>
        <q-tr slot="body"
              slot-scope="props"
              :props="props"
              @click.native="props.selected = !props.selected"
              class="cursor-pointer"
              :class="props.selected ? 'bg-positive text-white' : ''"
        >
          <q-td v-for="col in props.cols" :key="col.name" :props="props" :style="col.style" :class="col.class">
            {{ col.value }}
          </q-td>
          <q-td v-if="optionRow">
            <slot name="action" :row="props.row"></slot>
          </q-td>
        </q-tr>
        <div slot="bottom" slot-scope="props" class="row flex-center fit">
          <div class="row justify-between full-width">
            <div class="col-auto">
              <q-btn
                icon="chevron_left" color="primary" class="q-mb-sm"
                :disable="props.isFirstPage"
                size="lg"
                @click="previousPage()"
              />
            </div>
            <div class="col-auto text-center row items-center">
              <span class="col"><b>Pagina</b> {{paginationControl.page}} de {{paginationControl.lastPage}}<br></span>
            </div>
            <div class="col-auto">
              <q-btn
                icon="chevron_right" color="primary"
                :disable="props.isLastPage"
                size="lg"
                @click="nextPage()"
              />
            </div>
          </div>
        </div>
      </q-table>
  </div>
</template>

<script>
import {
  QTable,
  QTr,
  QTh,
  QTd,
  QCard,
  QCardMain,
  QCardSeparator,
  QCheckbox,
  QCardTitle,
  QItemTile,
  QScrollArea
} from 'quasar'
export default {
  // name: 'ComponentName',
  props: {
    optionRow: {
      type: Boolean,
      default: false
    },
    selection: {
      type: String,
      default: 'single'
    },
    columns: {
      type: Array,
      default: () => []
    },
    hasTitle: {
      type: Boolean,
      default: false
    },
    hideBottom: {
      type: Boolean,
      default: false
    },
    titleRow: {
      type: String,
      default: ''
    },
    rowKey: {
      required: true,
      type: String
    },
    data: {
      type: Array,
      default: () => []
    },
    visibleColumns: {
      type: Array
    },
    pagination: {
      type: Object,
      default: () => ({
        rowsPerPage: Infinity,
        page: 1
      })
    },
    value: {
      type: Array,
      default: () => []
    }
  },
  components: {
    QTable,
    QTr,
    QTh,
    QTd,
    QCard,
    QCardMain,
    QCardSeparator,
    QCheckbox,
    QCardTitle,
    QItemTile,
    QScrollArea
  },
  methods: {
    request (item) {
      console.log('Request feito')
      this.$emit('request', item)
    },
    previousPage () {
      this.paginationControl = Object.assign(this.paginationControl, {page: this.paginationControl.page - 1})
    },
    nextPage () {
      this.paginationControl = Object.assign(this.paginationControl, {page: this.paginationControl.page + 1})
    }
  },
  computed: {
    paginationControl: {
      get () {
        return this.pagination
      },
      set (val) {
        this.$emit('update:pagination', val)
      }
    },
    selected: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    }
  },
  data () {
    return {
      filter: ''
    }
  }
}
</script>

<style>
</style>
