<template>
  <div>
    <q-btn
      label="Escolher Forma de Pagamento"
      rounded
      icon="monetization_on"
      class="q-px-xl"
      color="primary"
      size="lg"
      @click="OpenDialog()"
    />
  </div>
</template>

<script>
import {
  Dialog
} from 'quasar'

export default {
  // name: 'ComponentName',
  props: {
    value: {
      require: true,
      default: ''
    }
  },
  data () {
    return {}
  },
  methods: {
    async OpenDialog () {
      const items = (await this.$services.pagamentoTipo.find()).data.data.map(res => ({
        label: `${res.nome} ${res.percentual_juros}%`,
        value: res.id
      }))
      const selected = items.find(res => this.value === res.value)
      Dialog
        .create({
          title: 'Meio de Pagamento',
          message: 'Escolha o meio de pagamento?',
          color: 'primary',
          // optional; we want an "OK" button
          ok: 'Confirmar', // takes i18n value, or String for "OK" button label
          // optional; we want a "Cancel" button
          options: {
            model: selected.value,
            items
          },
          cancel: 'Cancelar', // takes i18n value, or String for "Cancel" button label
          // optional; prevent user dismissal when not clicking on a Dialog button
          preventClose: true
        })
        .then((id) => {
          this.$emit('input', id)
        })
    }
  }
}
</script>

<style>
</style>
