<template>
  <div>
    <table v-if="type === 1 || type === 3"  style="overflow-wrap: break-word; margin-bottom: 50px; font-family: Arial, Helvetica, sans-serif ;width: 290px; background: white; font-size: 11px; page-break-after: always;" cellspacing="10">
      <thead style="text-align: left">
        <tr style="font-size: 18px; text-align: center">
          <th colspan="2">Via Joh</th>
        </tr>
        <tr style="font-size: 18px; text-align: center">
          <th colspan="2">Pedido Numero {{venda.id}}</th>
        </tr>
      </thead>
      <thead style="text-align: left">
        <tr v-if="motoboySelecionado.nome" style="font-size: 11px; text-align: center">
          <th colspan="2">Motoboy: {{motoboySelecionado.nome}}</th>
        </tr>
        <tr v-if="clienteSelecionado.id" style="font-size: 11px; text-align: center">
          <th colspan="2" style="padding-bottom: 5px;">Cliente: {{clienteSelecionado.nome}}</th>
        </tr>
        <tr v-if="clienteSelecionado.id" style="font-size: 11px; text-align: center">
          <th colspan="2" style="padding-bottom: 5px;">Endereço: {{clienteSelecionado.endereco}}</th>
        </tr>
        <tr v-if="clienteSelecionado.id" style="font-size: 11px; text-align: center">
          <th colspan="2" style="padding-bottom: 5px;">Complemento: {{clienteSelecionado.complemento}}</th>
        </tr>
        <tr v-if="clienteSelecionado.id" style="font-size: 11px; text-align: center">
          <th colspan="2" style="padding-bottom: 5px;">Referencia: {{clienteSelecionado.referencia}}</th>
        </tr>
        <tr v-if="clienteSelecionado.id" style="font-size: 11px; text-align: center">
          <th colspan="2" style="padding-bottom: 30px;">Contato: {{clienteSelecionado.telefone}}/{{clienteSelecionado.whatsapp}}</th>
        </tr>
        <tr>
          <th>Pedido</th>
          <th style="width: 90px; text-align: right">R$</th>
        </tr>
      </thead>
      <tbody v-for="item in data" :key="item.key">
        <tr>
          <td style="border-bottom: 1px dotted"><b>{{item.nome}}</b></td>
          <td style="border-bottom: 1px dotted; text-align: right">{{parseFloat(item.valor_venda).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'})}}</td>
        </tr>
        <tr v-if="item.adicionais.length" v-for="(adicional, i) in item.adicionais" :key="i">
          <td style="border-bottom: 1px dotted"> <b> + </b><i>{{adicional.nome}}</i></td>
          <td style="border-bottom: 1px dotted; text-align: right">{{parseFloat(adicional.valor_venda).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'})}}</td>
        </tr>
      </tbody>
      <tbody v-if="venda.valor_acrescimo">
        <tr>
          <td style="border-bottom: 1px dotted"> Acrescimo</td>
          <td style="border-bottom: 1px dotted; text-align: right">{{parseFloat(venda.valor_acrescimo).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'})}}</td>
        </tr>
      </tbody>
      <tbody>
      <tr>
        <td style="border-bottom: 1px dotted"> Acrescimo ( {{pagamento.nome}} )</td>
        <td style="border-bottom: 1px dotted; text-align: right"> + {{parseFloat(pagamento.percentual_juros)}} %</td>
      </tr>
      </tbody>
      <tfoot style="font-size: 15px">
        <tr>
          <td>Total</td>
          <td style=" text-align: right"><b>{{parseFloat(valorTotal).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'})}}</b></td>
        </tr>
        <tr>
          <td colspan="2" style="padding-top: 40px; text-align: center"><b>{{dataCompra}}</b></td>
        </tr>
        <tr>
          <td colspan="2" style="font-size: 11px; padding-top: 20px; padding-bottom: 20px; text-align: center">
            Sistema Elaborado e desenvolvido por Leo Nascimento & Bruno Andrade Dias  - solicite seu orçamento - <br> Contato (24) 999096768 - (24) 2442-0645
          </td>
        </tr>
      </tfoot>
    </table>
    <table v-if="type === 2 || type === 3"  style="overflow-wrap: break-word; margin-bottom: 50px; font-family: Arial, Helvetica, sans-serif ;width: 290px; background: white; font-size: 11px; page-break-after: always;" cellspacing="10">
      <thead style="text-align: left">
        <tr style="font-size: 18px; text-align: center">
          <th colspan="2">Via de vossa excelência</th>
        </tr>
        <tr style="font-size: 18px; text-align: center">
          <th colspan="2">Pedido Numero {{venda.id}}</th>
        </tr>
      </thead>
      <thead style="text-align: left">
        <tr v-if="motoboySelecionado.nome" style="font-size: 11px; text-align: center">
          <th colspan="2">Motoboy: {{motoboySelecionado.nome}}</th>
        </tr>
        <tr v-if="clienteSelecionado.id" style="font-size: 11px; text-align: center">
          <th colspan="2" style="padding-bottom: 5px;">Cliente: {{clienteSelecionado.nome}}</th>
        </tr>
        <tr v-if="clienteSelecionado.id" style="font-size: 11px; text-align: center">
          <th colspan="2" style="padding-bottom: 5px;">Endereço: {{clienteSelecionado.endereco}}</th>
        </tr>
        <tr v-if="clienteSelecionado.id" style="font-size: 11px; text-align: center">
          <th colspan="2" style="padding-bottom: 5px;">Complemento: {{clienteSelecionado.complemento}}</th>
        </tr>
        <tr v-if="clienteSelecionado.id" style="font-size: 11px; text-align: center">
          <th colspan="2" style="padding-bottom: 5px;">Referencia: {{clienteSelecionado.referencia}}</th>
        </tr>
        <tr v-if="clienteSelecionado.id" style="font-size: 11px; text-align: center">
          <th colspan="2" style="padding-bottom: 30px;">Contato: {{clienteSelecionado.telefone}}/{{clienteSelecionado.whatsapp}}</th>
        </tr>
        <tr>
          <th>Pedido</th>
          <th style="width: 90px; text-align: right">R$</th>
        </tr>
      </thead>
      <tbody v-for="item in data" :key="item.key">
        <tr>
          <td style="border-bottom: 1px dotted"><b>{{item.nome}}</b></td>
          <td style="border-bottom: 1px dotted; text-align: right">{{parseFloat(item.valor_venda).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'})}}</td>
        </tr>
        <tr v-if="item.adicionais.length" v-for="(adicional, i) in item.adicionais" :key="i">
          <td style="border-bottom: 1px dotted"> <b> + </b><i>{{adicional.nome}}</i></td>
          <td style="border-bottom: 1px dotted; text-align: right">{{parseFloat(adicional.valor_venda).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'})}}</td>
        </tr>
      </tbody>
      <tbody v-if="venda.valor_acrescimo">
        <tr>
          <td style="border-bottom: 1px dotted"> Acrescimo</td>
          <td style="border-bottom: 1px dotted; text-align: right">{{parseFloat(venda.valor_acrescimo).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'})}}</td>
        </tr>
      </tbody>
      <tbody>
      <tr>
        <td style="border-bottom: 1px dotted"> Acrescimo ( {{pagamento.nome}} )</td>
        <td style="border-bottom: 1px dotted; text-align: right"> + {{parseFloat(pagamento.percentual_juros)}} %</td>
      </tr>
      </tbody>
      <tfoot style="font-size: 15px">
        <tr>
          <td>Total</td>
          <td style=" text-align: right"><b>{{parseFloat(valorTotal).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'})}}</b></td>
        </tr>
        <tr>
          <td colspan="2" style="padding-top: 40px; text-align: center"><b>{{dataCompra}}</b></td>
        </tr>
        <tr>
          <td colspan="2" style="font-size: 11px; padding-top: 20px; padding-bottom: 20px; text-align: center">
            Sistema Elaborado e desenvolvido por Leo Nascimento & Bruno Andrade Dias  - solicite seu orçamento - <br> Contato (24) 999096768 - (24) 2442-0645
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
moment.locale('pt-br')
export default {
  props: {
    type: {
      type: Number,
      default: 1
    }
  },
  // name: 'ComponentName',
  data () {
    return {
    }
  },
  computed: {
    valorTotal () {
      return this.data.reduce((total, item) => {
        const valorVenda = item.valor_venda
        const adicionais = item.adicionais.reduce((adicinalTotal, adicional) => adicinalTotal + adicional.valor_venda, 0)
        return total + valorVenda + adicionais
      }, 0) * ((this.pagamento.percentual_juros / 100) + 1) + this.venda.valor_acrescimo
    },
    motoboySelecionado () {
      let venda = this.venda || {}
      let motoboy = venda.motoboySelecionado || {}
      return motoboy
    },
    clienteSelecionado () {
      let venda = this.venda || {}
      let cliente = venda.clienteSelecionado || {}
      return cliente
    },
    dataCompra () {
      return moment().format('LLL')
    },
    ...mapGetters('venda', {
      data: 'PRODUTO_VENDA',
      venda: 'VENDA'
    }),
    ...mapGetters('pagamento-tipo', {
      pagamento: 'ONE'
    })
  }
}
</script>

<style>
  @media print
  {
    .no-print, .no-print *
    {
      display: none !important;
    }
  }
</style>
