<template>
  <div>
    <div class="row">
      <div class="col-3" v-for="(item, i) in datadataOptions" :key="i">
        <q-checkbox :disable="!$permissao.has('PERMISSOES')" color="white" v-model="selecteds" :label="item.label" :val="item.value" class="text-white checkbox-big q-pa-md"/>
      </div>
    </div>
  </div>
</template>

<script>
import { QCheckbox } from 'quasar'
export default {
  components: {
    QCheckbox
  },
  props: {
    value: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  data () {
    return {
      data: []
    }
  },
  methods: {
    async loadItems () {
      this.data = (await this.$services.recurso.find()).data.data
      console.log(this.data)
    }
  },
  computed: {
    selecteds: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    datadataOptions () {
      return this.data.map(res => ({
        value: res.id,
        label: res.descricao
      }))
    }
  },
  created () {
    this.loadItems()
  }
}
</script>

<style>
  .checkbox-big {
    font-size: 18px;
  }
  .checkbox-big i{
    font-size: 25px;
  }
</style>
