// app global css
@import "~variables"
.j-border {
  border-radius: 10px;
  background-color: white
  overflow hidden
}
.j-border i {
  height: 35px;
  width: 35px;
  margin: 15px 10px;
  background: $dark;
  border-radius: 17px;
}
  .j-border i.q-icon.q-if-control.material-icons {
    display: none
  }

.bg-default {
  background: url("~assets/bg-default.jpg");
  background-size: cover;
}

input{
  min-height: 32px;
  max-width: 100%;
  padding: 10px 20px;
  font-size: 14px;
  border: #e0e0e0;
  border-radius: 2rem;
  vertical-align: middle;
  color: #000;
  background: white;
}
input:focus{
  outline: none;
}
.default-border-r .q-card{
  border-radius: 2rem!important;
}
.d-table .q-table-top.relative-position.row.items-center {
  padding 20px 10px;
}

.border-r {
  border-radius: 19px
}
.q-popover.scroll.column.no-wrap.animate-popup-down {
  border-radius: 19px
}

.name-table td {
  max-width: 1%!important; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
}
