<template>
  <q-layout view="lHh Lpr lFf"> <!-- Be sure to play with the Layout demo on docs -->

    <!-- (Optional) The Header -->
    <q-layout-header>
      <q-toolbar color="secondary" class="text-center">
        <q-btn icon="chevron_left"
               rounded
               class="q-pr-md q-pr-sm"
               label="Voltar"
               flat dense
               size="lg"
               @click="$router.go(-1)"/>
        <q-toolbar-title class="text-primary">
          {{$route.meta.title}}
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <!-- (Optional) A Drawer; you can add one more with side="right" or change this one's side -->
    <q-layout-drawer
      side="left"
      v-model="leftDrawer"
      class=""
      content-class="bg-primary text-white column justify-between"
    >
      <div class="col">
        <q-toolbar color="tertiary" class="col">
          <q-toolbar-title class="text-primary">
            <q-btn label="Joh" color="secondary" class="q-mx-sm" rounded/>
            <q-btn label="Ja deu por Hoje" flat  @click="$auth.logout()"/>
          </q-toolbar-title>
        </q-toolbar>
      </div>
      <div class="col-auto">
        <div class="items-center">
          <q-list highlight class="no-border">
            <q-item class="q-pa-lg" @click.native="goTo('atendimento-balcao')">
              <q-item-side>
                <q-item-tile icon="phonelink" color="white" style="font-size: 40px"/>
              </q-item-side>
              <q-item-main label="Balcão" style="font-size: 30px"/>
            </q-item>
            <q-item class="q-pa-lg" @click.native="goTo('cadastro')">
              <q-item-side>
                <q-item-tile icon="view_carousel" color="white" style="font-size: 40px"/>
              </q-item-side>
              <q-item-main label="Cadastros" style="font-size: 30px"/>
            </q-item>
            <q-item v-if="$permissao.has('PEDIDO_ENTREGA')" class="q-pa-lg" @click.native="$router.push({name: 'venda-entrega-listagem', query: {hasMotoboy: 1}})">
              <q-item-side>
                <q-item-tile icon="motorcycle" color="white" style="font-size: 40px"/>
              </q-item-side>
              <q-item-main label="Entregas" style="font-size: 30px"/>
            </q-item>
            <q-item v-if="$permissao.has('PEDIDO_FINALIZADO')" class="q-pa-lg" @click.native="$router.push({name: 'venda-finalizado-listagem', query: {status: 3}})">
              <q-item-side>
                <q-item-tile icon="assignment_turned_in" color="white" style="font-size: 40px"/>
              </q-item-side>
              <q-item-main label="Finalizados" style="font-size: 30px"/>
            </q-item>
          </q-list>
        </div>
      </div>
      <div class="col row">
        <div class="row bg-tertiary self-end q-toolbar">
          <q-item v-if="$permissao.has('CLIENTE')" class="col text-center cursor-pointer q-py-none" @click.native="goTo('cliente-listagem')">
          <q-item-main>
          <q-icon name="face" style="font-size: 40px"/>
          </q-item-main>
          </q-item>
          <q-item v-if="$permissao.has('ADICIONAL')" class="col text-center cursor-pointer q-py-none" @click.native="goTo('adicional-listagem')">
          <q-item-main>
          <q-icon name="monetization_on" style="font-size: 40px"/>
          </q-item-main>
          </q-item>
          <q-item bebida v-if="$permissao.has('LANCHE')" class="col text-center cursor-pointer q-py-none" @click.native="goTo('lanche-listagem')">
          <q-item-main>
          <q-icon name="fas fa-drumstick-bite" style="font-size: 40px"/>
          </q-item-main>
          </q-item>
          <q-item v-if="$permissao.has('BEBIDA')" class="col text-center cursor-pointer q-py-none" @click.native="goTo('bebida-listagem')">
          <q-item-main>
          <q-icon name="fas fa-beer" style="font-size: 40px"/>
          </q-item-main>
          </q-item>
          <q-item v-if="$permissao.has('BEBIDA')" class="col cursor-pointer text-center q-py-none" @click.native="goTo('doce-listagem')">
          <q-item-main>
          <q-icon name="fas fa-cookie-bite" style="font-size: 40px"/>
          </q-item-main>
          </q-item>
        </div>
      </div>
    </q-layout-drawer>

    <q-page-container class="bg-default">
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>
    <q-layout-footer>
      <q-toolbar color="secondary" class="text-right">
       <div class="row full-width">
         <div class="col">
           <div class="q-px-lg">
             <!--<q-datetime color="white" v-model="model" invert-light type="date" />-->
           </div>
         </div>
       </div>
      </q-toolbar>
    </q-layout-footer>
  </q-layout>
</template>

<script>
import {
  QItemTile,
  QChip,
  QDatetime,
  QTabs,
  QTab,
  QLayoutHeader,
  QLayoutFooter
} from 'quasar'
export default {
  // name: 'LayoutName',
  components: {
    QItemTile,
    QChip,
    QDatetime,
    QTabs,
    QTab,
    QLayoutHeader,
    QLayoutFooter
  },
  data () {
    return {
      leftDrawer: true
    }
  },
  methods: {
    goTo (name) {
      this.$router.push({name})
    }
  }
}
</script>

<style>
</style>
