<template>
  <q-layout class="bg-default"> <!-- Be sure to play with the Layout demo on docs -->
    <q-page-container>
      <q-page class=" flex flex-center">
        <div class="full-width">
          <div class="row justify-center">
            <q-card class="col-sm-7 col-md-5 col-lg-3 q-pa-md" flat>
              <q-card-media class="row text-center justify-center">
                <img src="~assets/logo.png" class="col-auto q-pa-md login-logo" alt="">
              </q-card-media>
              <q-card-main>
                <div class="row q-my-md">
                  <div class="col">
                    <q-field
                      class="j-border"
                      icon="person">
                      <q-input class="q-ma-md" hide-underline rounded placeholder="Login" v-model="formulario.email" @key.enter="entrar(formulario)"/>
                    </q-field>
                  </div>
                </div>
                <div class="row q-my-md">
                  <div class="col">
                    <q-field
                      class="j-border"
                      icon="lock"
                    >
                      <q-input class="q-ma-md" hide-underline rounded placeholder="Senha" v-model="formulario.password" type="password"/>
                    </q-field>
                  </div>
                </div>
                <!--<div class="row q-my-md">-->
                  <!--<div class="col">-->
                    <!--<q-checkbox color="white" keep-color class="text-white" v-model="keep" label="Permanecer logado" />-->
                  <!--</div>-->
                <!--</div>-->
                <div class="row">
                  <div class="col text-center">
                    <q-btn
                      label="Entrar"
                      color="primary"
                      size="lg"
                      class="capitalize full-width"
                      @click="entrar(formulario)"/>
                  </div>
                </div>
              </q-card-main>
            </q-card>
          </div>
          <!--<div class="row">-->
            <!--<div class="col text-center">-->
              <!--<q-btn-->
                <!--flat-->
                <!--label="Mano, esqueci minha senha!"-->
                <!--color="white"-->
                <!--class="capitalize"/>-->
            <!--</div>-->
          <!--</div><div class="row">-->
            <!--<div class="col text-center">-->
              <!--<q-btn-->
                <!--flat-->
                <!--label="Mano, esqueci minha senha!"-->
                <!--color="white"-->
                <!--class="capitalize"/>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import {
  Notify,
  QInput,
  QField,
  QCard,
  QCheckbox,
  QCardMedia,
  QCardSeparator,
  QCardTitle,
  QCardMain,
  QCardActions
} from 'quasar'
export default {
  // name: 'LayoutName',
  components: {
    QInput,
    QField,
    QCard,
    QCheckbox,
    QCardMedia,
    QCardSeparator,
    QCardTitle,
    QCardMain,
    QCardActions
  },
  data () {
    return {
      keep: false,
      formulario: {}
    }
  },
  methods: {
    entrar (formulario) {
      this.$auth.login(formulario, this.keep).catch(error => {
        if (error.response.data.message) {
          Notify.create({
            color: 'negative',
            message: error.response.data.message,
            icon: 'info',
            position: 'top-right'
          })
        }
      })
    }
  }
}
</script>

<style>
  .login-logo {
    height: 15vh;
    width: 100%;
  }
</style>
