<template>
  <q-page class="layout-padding column">
    <div class="col">
      <div class="row">
        <div class="col-auto q-pa-sm">
          <d-dropdown-crud-options
            :novo-apenas="!itemSelected"
            @criar="pushTo()"
            @editar="pushTo(itemSelected.id)"
            @excluir="removeItem(itemSelected)"
          />
        </div>
        <div class="col">
          <q-field class="full-width">
            <input
              class="full-width"
              placeholder="Pesquisar ..."
              v-model="search"/>
          </q-field>
        </div>
      </div>
    </div>
    <div class="col">
      <d-list-table
        title-row="nome"
        v-model="selected"
        :columns="columns"
        :pagination.sync="pagination"
        @request="loadItems"
        :data="data.data.data"
        row-key="id">
      </d-list-table>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
// import data from 'src/components/data'
import { mapGetters, mapActions } from 'vuex'
import {
  DListTable,
  DDropdownCrudOptions
} from 'components'

import {
  Dialog,
  QField,
  QItemTile,
  QBtnDropdown
} from 'quasar'

export default {
  name: 'PageIndex',
  components: {
    DListTable,
    QBtnDropdown,
    QItemTile,
    QField,
    DDropdownCrudOptions
  },
  data () {
    return {
      pagination: {
        page: 1,
        rowsPerPage: 10,
        rowsNumber: 100,
        lastPage: 2
      },
      selected: [],
      search: '',
      columns: [
        { name: 'id', label: '#', field: 'id' },
        { name: 'nome', label: 'Nome', field: 'nome' },
        { name: 'descricao', label: 'Descrição', field: 'descricao' }
      ]
    }
  },
  methods: {
    loadItems (params) {
      this.fetchList(params).then(res => {
        this.pagination.rowsNumber = this.data.data.total
        this.pagination.lastPage = this.data.data.lastPage
      })
    },
    pushTo (id) {
      if (id) {
        this.$router.push({name: this.$route.meta.pathCrud.editar, params: {id: id}})
      } else {
        this.$router.push({name: this.$route.meta.pathCrud.novo})
      }
    },
    ...mapActions('caixa', {
      remove: 'REMOVE',
      fetchList: 'FETCH_LIST'
    }),
    request ({pagination}) {
      console.log(pagination)
    },
    removeItem (data) {
      Dialog
        .create({
          title: 'Atenção',
          message: 'Deseja Realmente deletar esse Recurso.',
          color: 'negative',
          // optional; we want an "OK" button
          ok: 'Excluir', // takes i18n value, or String for "OK" button label
          // optional; we want a "Cancel" button
          cancel: 'Cancelar', // takes i18n value, or String for "Cancel" button label
          // optional; prevent user dismissal when not clicking on a Dialog button
          preventClose: true
        })
        .then(() => {
          this.remove(data.id).then(() => {
            this.loadItems({ search: this.search })
          })
        })
        .catch(() => {
          this.selected = []
        })
      //
    }
  },
  watch: {
    params (val) {
      this.loadItems(val)
    }
  },
  computed: {
    params () {
      let pagination = {
        page: this.pagination.page,
        perPage: this.pagination.rowsPerPage
      }
      return {
        ...pagination,
        search: this.search
      }
    },
    itemSelected () {
      return this.selected[0] ? this.data.data.data.find(res => res.id === this.selected[0].id) : undefined
    },
    ...mapGetters('caixa', {
      data: 'LIST'
    })
  },
  created () {
    this.loadItems(this.params)
  }
}
</script>
